In [2]:
os.chdir(os.path.expanduser("~"))  # Changes to your user home directory
print(" Current working directory is now:", os.getcwd())

 Current working directory is now: /home/jovyan

In [3]:
# Change to the desired directory
os.chdir("/home/jovyan/work/Datasets")
print("Current working directory is now:", os.getcwd())

Current working directory is now: /home/jovyan/work/Datasets

In [6]:
!ls -l

total 8957276
-rw-r--r-- 1 jovyan users       6614 May 22 07:50 Download.ipynb
-rw-r--r-- 1 jovyan users      33957 May 22 15:00 Preparation.ipynb
-rw-r--r-- 1 jovyan users       1772 May 23 14:04 Preparation_updated.ipynb
-rw-r--r-- 1 jovyan users        618 May 22 07:55 Preprocessing.ipynb
-rw-r--r-- 1 root   users 9172195398 May 22 07:17 cv-corpus-19.0-2024-09-13-ta.tar.gz

In [7]:
os.path.getsize("/home/jovyan/work/Datasets/cv-corpus-19.0-2024-09-13-ta.tar.gz")

9172195398

In [236]:
#import tarfile
#file_path = "/home/jovyan/work/Datasets/cv-corpus-19.0-2024-09-13-ta.tar.gz" # Define the file path and extract location
#extract_to = "/home/jovyan/work/Datasets/cv-corpus/"  # Change this if needed
#with tarfile.open(file_path, "r:gz") as tar: # Open the .tar.gz file and extract all contents
#    tar.extractall(path=extract_to)
#print(f"Extracted contents to: {extract_to}")

In [9]:
import os
dataset_path = "/home/jovyan/work/Datasets/cv-corpus/"
if not os.path.exists(dataset_path):
    print("Dataset path does not exist.")
else:
    print(f"Scanning dataset at: {dataset_path}\n")
    for root, dirs, files in os.walk(dataset_path):
        rel_path = os.path.relpath(root, dataset_path)
        folder_name = rel_path if rel_path != "." else "root"
        print(f"Folder: {folder_name}")
        print(f"Total files: {len(files)}")

Scanning dataset at: /home/jovyan/work/Datasets/cv-corpus/

Folder: root
Total files: 0
Folder: cv-corpus-19.0-2024-09-13
Total files: 0
Folder: cv-corpus-19.0-2024-09-13/ta
Total files: 10
Folder: cv-corpus-19.0-2024-09-13/ta/clips
Total files: 246840

In [10]:
clips_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips"
clips_files = os.listdir(clips_path) # List all files in the directory
print("First 10 files:", clips_files[:10]) # Print the first 10 files and total count
print("Total number of files:", len(clips_files))

First 10 files: ['common_voice_ta_19071679.mp3', 'common_voice_ta_19071680.mp3', 'common_voice_ta_19071681.mp3', 'common_voice_ta_19071682.mp3', 'common_voice_ta_19071683.mp3', 'common_voice_ta_19071709.mp3', 'common_voice_ta_19071710.mp3', 'common_voice_ta_19071711.mp3', 'common_voice_ta_19071712.mp3', 'common_voice_ta_19071713.mp3']
Total number of files: 246840

**For Dev.tsv file**

In [234]:
dev_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/dev.tsv"
df = pd.read_csv(dev_tsv_file_path, sep='\t' , encoding = "utf-8") # Load and preview the TSV file
#df = pd.read_table(dev_tsv_file_path) 
#print(df.head(10)) # Display the first 10 rows
#print("Total rows:", df.shape[0]) # Show the number of rows and columns
#print("Total columns:", df.shape[1])

In [235]:
print(len(df))

10303

In [14]:
print(df.tail(10))

                                               client_id  \
10293  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10294  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10295  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10296  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10297  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10298  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10299  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10300  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10301  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...
10302  aa4fc24757a92f02a0a702c82b4a6ac6045b1d8d1163c7...

                               path  \
10293  common_voice_ta_26918916.mp3
10294  common_voice_ta_26918951.mp3
10295  common_voice_ta_26918974.mp3
10296  common_voice_ta_26919006.mp3
10297  common_voice_ta_26919010.mp3
10298  common_voice_ta_26920928.mp3
10299  common_voice_ta_26920950.mp3
10300  common_voice_ta_26920966.mp3
10301  common_voice_ta_26921021.mp3
10302  common_voice_ta_26921028.mp3

                                             sentence_id  \
10293  0ec691e0f9c2240f7882b62d5d9f84c4f0878aeb3db648...
10294  0f18fe1c6a09a6c281ffaf494e30d5834e36ecdd28e10c...
10295  131c4999e512f5c5af9f00a3b44190b5832656e9e38fdb...
10296  0f37a007938f61b018742de7767761cb672a1371627f7d...
10297  0f817f7c4457a33057e4b04308353170e917c68e605b6d...
10298  0f304d17670a2dabc152062ae27fda929f28d6fd656f4a...
10299  0d1dc2091b4853289e70177d1b28a159aab9ac3058ae36...
10300  0d123fcb9ef401296dd7a2cbe8bd77cf36f61924c38f3a...
10301  0a7dfd233811075bbb907daac83e7bca8938b282c87425...
10302  076c9f0045c2268a1bbf67fdd185fd80630e6339d20897...

                                                sentence  sentence_domain  \
10293   நமக்கு ஸ்வரங்களில் எல்லாம் வித்தியாசம் தோன்றாது.              NaN
10294  ஆனால், கம்பெனி நிர்வாகிகளுக்கு பொருளாசை உண்டு,...              NaN
10295   என்று அழுதுகொண்டே திரும்ப வீட்டிற்குள் வருகிறது.              NaN
10296  அவனுக்காக இறைவன் தந்தியை விலகச் சொன்னாரா என்று...              NaN
10297  எதையாவது படித்துக் கொண்டோ அல்லது தொலைக்காட்சிய...              NaN
10298  ஆகவே பக்தி ரசமமைந்த இச்சிறு நாடகத்தில் நடிப்பத...              NaN
10299  வழிபாட்டு முறைகள், மந்திரங்கள், அர்ச்சனைகள், ப...              NaN
10300  எட்டுக் கரங்கள், சூலம், தனு, கசம், அங்குசம், ச...              NaN
10301  குமரன் அவ்வாறு வெளிப்படையாகத் தன்னுடைய மனத்தில...              NaN
10302  போதாக்குறைக்கு மதுபானக்கடையும் ஸ்தாபிக்கப் பெற...              NaN

       up_votes  down_votes       age           gender  accents  variant  \
10293         2           0  thirties  female_feminine      NaN      NaN
10294         2           0  thirties  female_feminine      NaN      NaN
10295         2           1  thirties  female_feminine      NaN      NaN
10296         2           1  thirties  female_feminine      NaN      NaN
10297         2           0  thirties  female_feminine      NaN      NaN
10298         2           0  thirties  female_feminine      NaN      NaN
10299         2           0  thirties  female_feminine      NaN      NaN
10300         2           0  thirties  female_feminine      NaN      NaN
10301         2           0  thirties  female_feminine      NaN      NaN
10302         2           0  thirties  female_feminine      NaN      NaN

      locale  segment
10293     ta      NaN
10294     ta      NaN
10295     ta      NaN
10296     ta      NaN
10297     ta      NaN
10298     ta      NaN
10299     ta      NaN
10300     ta      NaN
10301     ta      NaN
10302     ta      NaN

In [15]:
df = pd.read_csv(dev_tsv_file_path) # sep='\t'
print("Total rows:", len(df))

Total rows: 10303

In [228]:
df.columns

Index(['path', 'sentence'], dtype='object')

In [17]:
with open(dev_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 12112
Total data rows: 12111

In [18]:
bad_lines = []
with open(dev_tsv_file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if line.count('\t') != 12:  # 13 columns → 12 tabs
            bad_lines.append((i, line.strip()))

print(f"Number of bad lines: {len(bad_lines)}")
print("Example bad line:", bad_lines[0] if bad_lines else "None")

Number of bad lines: 0
Example bad line: None

In [19]:
df = pd.read_csv(dev_tsv_file_path, sep='\t')
print("Total rows:", len(df))

Total rows: 10303

In [21]:
# Load raw TSV again
dev_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/dev.tsv"
df = pd.read_csv(dev_tsv_file_path, sep='\t', dtype=str)  # Keep all as string to avoid parsing issues
print("Rows loaded:", len(df)) # Check total number of rows loaded

Rows loaded: 10303

In [22]:
empty_rows = df.isnull().all(axis=1).sum() # Check how many rows are completely empty (NaN in all columns)
print("Completely empty rows:", empty_rows)

Completely empty rows: 0

In [23]:
# Check for rows with NaN in essential columns (like 'sentence')
nan_sentences = df['sentence'].isnull().sum()
print("Rows with missing sentence:", nan_sentences)

Rows with missing sentence: 0

In [24]:
with open(dev_tsv_file_path, "r", encoding="utf-8") as f:
    header_line = f.readline().strip()
    duplicate_header_count = sum(1 for line in f if line.strip() == header_line)
print("Duplicate header rows:", duplicate_header_count)

Duplicate header rows: 0

In [25]:
df_all = pd.read_csv(
    dev_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_all))

Rows loaded (with warnings): 12111

In [26]:
print("Columns:\n", df.columns.tolist()) # View column names
print("\nShape (rows, columns):", df.shape) # View number of rows and columns
print("\nTotal Rows:", df.shape[0])
print("Total Columns:", df.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (10303, 13)

Total Rows: 10303
Total Columns: 13

In [27]:
print("Columns:\n", df_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_all.shape[0])
print("Total Columns:", df_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (12111, 13)

Total Rows: 12111
Total Columns: 13

In [30]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_all[['path', 'sentence']].head()))

First 5 rows:

,path,sentence
0,common_voice_ta_24959711.mp3,பாலாஜி என்பது பாலன் என்ற பொருளுடையது.
1,common_voice_ta_24959713.mp3,சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...
2,common_voice_ta_24959750.mp3,பகலில் இயங்கிக் கொண்டே இருப்பர்.
3,common_voice_ta_24959754.mp3,மிகுதியும் பயன் விளையும்.
4,common_voice_ta_24959762.mp3,புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.

None

In [31]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
12106,common_voice_ta_26920928.mp3,ஆகவே பக்தி ரசமமைந்த இச்சிறு நாடகத்தில் நடிப்பத...
12107,common_voice_ta_26920950.mp3,"வழிபாட்டு முறைகள், மந்திரங்கள், அர்ச்சனைகள், ப..."
12108,common_voice_ta_26920966.mp3,"எட்டுக் கரங்கள், சூலம், தனு, கசம், அங்குசம், ச..."
12109,common_voice_ta_26921021.mp3,குமரன் அவ்வாறு வெளிப்படையாகத் தன்னுடைய மனத்தில...
12110,common_voice_ta_26921028.mp3,போதாக்குறைக்கு மதுபானக்கடையும் ஸ்தாபிக்கப் பெற...

None

For dev_path_sentence_updated csv file

In [32]:
df_dev_path_sentence = df_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [33]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_dev_path_sentence.shape)

Shape: (12111, 2)

In [34]:
print(df_dev_path_sentence.head())

                           path  \
0  common_voice_ta_24959711.mp3
1  common_voice_ta_24959713.mp3
2  common_voice_ta_24959750.mp3
3  common_voice_ta_24959754.mp3
4  common_voice_ta_24959762.mp3

                                            sentence
0              பாலாஜி என்பது பாலன் என்ற பொருளுடையது.
1  சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...
2                   பகலில் இயங்கிக் கொண்டே இருப்பர்.
3                          மிகுதியும் பயன் விளையும்.
4      புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.

In [35]:
print(df_dev_path_sentence.tail())

                               path  \
12106  common_voice_ta_26920928.mp3
12107  common_voice_ta_26920950.mp3
12108  common_voice_ta_26920966.mp3
12109  common_voice_ta_26921021.mp3
12110  common_voice_ta_26921028.mp3

                                                sentence
12106  ஆகவே பக்தி ரசமமைந்த இச்சிறு நாடகத்தில் நடிப்பத...
12107  வழிபாட்டு முறைகள், மந்திரங்கள், அர்ச்சனைகள், ப...
12108  எட்டுக் கரங்கள், சூலம், தனு, கசம், அங்குசம், ச...
12109  குமரன் அவ்வாறு வெளிப்படையாகத் தன்னுடைய மனத்தில...
12110  போதாக்குறைக்கு மதுபானக்கடையும் ஸ்தாபிக்கப் பெற...

In [41]:
df_dev_path_sentence.index = range(1, len(df_dev_path_sentence) + 1) # Reset the index and then set it to start from 1

In [42]:
print(df_dev_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path  \
1  common_voice_ta_24959711.mp3
2  common_voice_ta_24959713.mp3
3  common_voice_ta_24959750.mp3
4  common_voice_ta_24959754.mp3
5  common_voice_ta_24959762.mp3

                                            sentence
1              பாலாஜி என்பது பாலன் என்ற பொருளுடையது.
2  சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...
3                   பகலில் இயங்கிக் கொண்டே இருப்பர்.
4                          மிகுதியும் பயன் விளையும்.
5      புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.

In [43]:
print(df_dev_path_sentence.tail())

                               path  \
12107  common_voice_ta_26920928.mp3
12108  common_voice_ta_26920950.mp3
12109  common_voice_ta_26920966.mp3
12110  common_voice_ta_26921021.mp3
12111  common_voice_ta_26921028.mp3

                                                sentence
12107  ஆகவே பக்தி ரசமமைந்த இச்சிறு நாடகத்தில் நடிப்பத...
12108  வழிபாட்டு முறைகள், மந்திரங்கள், அர்ச்சனைகள், ப...
12109  எட்டுக் கரங்கள், சூலம், தனு, கசம், அங்குசம், ச...
12110  குமரன் அவ்வாறு வெளிப்படையாகத் தன்னுடைய மனத்தில...
12111  போதாக்குறைக்கு மதுபானக்கடையும் ஸ்தாபிக்கப் பெற...

# Save to CSV, keep the index in the file
df_dev_path_sentence.to_csv('dev_path_sentence.csv', index=True)

In [45]:
df_dev_path_sentence.to_csv('dev_path_sentence_updated.csv', index=False) # Save to CSV, keep the index in the file

**For Invalidated.tsv file**

In [48]:
invalidated_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/invalidated.tsv"
df = pd.read_csv(invalidated_tsv_file_path, sep='\t') # Load and preview the TSV file
print(df.head(10)) # Display the first 10 rows
print("Total rows:", df.shape[0]) # Show the number of rows and columns
print("Total columns:", df.shape[1])

                                           client_id  \
0  241bdb890336e245aa0eb04f7693dd6ff0f6522b909823...
1  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
2  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
3  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
4  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...
5  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...
6  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...
7  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...
8  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...
9  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...

                           path  \
0  common_voice_ta_19071681.mp3
1  common_voice_ta_19083966.mp3
2  common_voice_ta_19083970.mp3
3  common_voice_ta_19084099.mp3
4  common_voice_ta_19093477.mp3
5  common_voice_ta_19093489.mp3
6  common_voice_ta_19093491.mp3
7  common_voice_ta_19093496.mp3
8  common_voice_ta_19093533.mp3
9  common_voice_ta_19093535.mp3

                                         sentence_id  \
0  14dcb8c679d159444fcbc561746f870e6edd6a80c700eb...
1  01418f6897f4145b0fbca99fd3537a9250ba17507313cb...
2  08f9c301dfc749505eba8432974f31bd03dccaf8cb8955...
3  0d6632cfd29c4a699f4ec9094754a7f5474b19554f4d88...
4  19c952736937e5643fde41319c1a977d336e667b38d5d6...
5  00d3bc2a786e59244f8012a2cb31608db3671e64611f75...
6  196ce20c1d8d1c9c3d357c0bf2246d3c714a4cd81c57dd...
7  09efd104e31858d424a020d5cbeac21eb67a977e6bc272...
8  205ad36557893e5ef11a3355df725ca52c5b941ac397d3...
9  08de578b6b3e850bba860c8ebc591ccf4139b1929da4c8...

                                  sentence  sentence_domain  up_votes  \
0         துணைவன் இறந்தபின் வேறு துணைதேடச்              NaN         0
1          சூரியன் ஒரு நடுவயது நட்சத்திரம்              NaN         1
2                         நாங்கள், ஆண்மைச்              NaN         1
3        பசியால் அண்ணன் பதைபதைக் கின்றான்;              NaN         1
4       மன்னாதி மன்னர்களே, என்விண் ணப்பம்!              NaN         0
5         வில்லாய் வளைந்தது மேனி; அவர்தோள்              NaN         1
6    சொற்கண்டு மலைக்காதே உன்பகுத் தறி வால்              NaN         0
7             தீராதி தீரரென் றூதூது சங்கே!              NaN         0
8  நிறைகுணப் பேறெய்தும் 'தொழல்' எதுவெனவும்              NaN         1
9         புதியதோர் உலகம் செய்வோம் - கெட்ட              NaN         1

   down_votes       age          gender accents  variant locale segment
0           2  twenties  male_masculine     NaN      NaN     ta     NaN
1           2  thirties  male_masculine     NaN      NaN     ta     NaN
2           2  thirties  male_masculine     NaN      NaN     ta     NaN
3           2  thirties  male_masculine     NaN      NaN     ta     NaN
4           2  twenties  male_masculine     NaN      NaN     ta     NaN
5           2  twenties  male_masculine     NaN      NaN     ta     NaN
6           2  twenties  male_masculine     NaN      NaN     ta     NaN
7           2  twenties  male_masculine     NaN      NaN     ta     NaN
8           2  twenties  male_masculine     NaN      NaN     ta     NaN
9           2  twenties  male_masculine     NaN      NaN     ta     NaN
Total rows: 5578
Total columns: 13

In [49]:
print(df.head(5))

                                           client_id  \
0  241bdb890336e245aa0eb04f7693dd6ff0f6522b909823...
1  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
2  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
3  e7f76d7dedd9e6999478ab1cec1f9fd0a4289101d39cb6...
4  6622032a09c9f7e0fbb3bddc0a33304509ca3f33ec79fe...

                           path  \
0  common_voice_ta_19071681.mp3
1  common_voice_ta_19083966.mp3
2  common_voice_ta_19083970.mp3
3  common_voice_ta_19084099.mp3
4  common_voice_ta_19093477.mp3

                                         sentence_id  \
0  14dcb8c679d159444fcbc561746f870e6edd6a80c700eb...
1  01418f6897f4145b0fbca99fd3537a9250ba17507313cb...
2  08f9c301dfc749505eba8432974f31bd03dccaf8cb8955...
3  0d6632cfd29c4a699f4ec9094754a7f5474b19554f4d88...
4  19c952736937e5643fde41319c1a977d336e667b38d5d6...

                             sentence  sentence_domain  up_votes  down_votes  \
0    துணைவன் இறந்தபின் வேறு துணைதேடச்              NaN         0           2
1     சூரியன் ஒரு நடுவயது நட்சத்திரம்              NaN         1           2
2                    நாங்கள், ஆண்மைச்              NaN         1           2
3   பசியால் அண்ணன் பதைபதைக் கின்றான்;              NaN         1           2
4  மன்னாதி மன்னர்களே, என்விண் ணப்பம்!              NaN         0           2

        age          gender accents  variant locale segment
0  twenties  male_masculine     NaN      NaN     ta     NaN
1  thirties  male_masculine     NaN      NaN     ta     NaN
2  thirties  male_masculine     NaN      NaN     ta     NaN
3  thirties  male_masculine     NaN      NaN     ta     NaN
4  twenties  male_masculine     NaN      NaN     ta     NaN

In [50]:
print(df.tail(5))

                                              client_id  \
5573  c3a8cc78425e7b085a176666590036fd1f062559a8b64c...
5574  c3a8cc78425e7b085a176666590036fd1f062559a8b64c...
5575  c3a8cc78425e7b085a176666590036fd1f062559a8b64c...
5576  4b19221d5a55ed116fc86ffecf97966e95ade0d94e7c4c...
5577  045714cafb60986f17baf367bfda81b8ce86947ac0449b...

                              path  \
5573  common_voice_ta_37380566.mp3
5574  common_voice_ta_37382522.mp3
5575  common_voice_ta_37382533.mp3
5576  common_voice_ta_38522355.mp3
5577  common_voice_ta_38671127.mp3

                                            sentence_id  \
5573  acf8cef5c4dd2030ace0f7042a17d35c1834dc48484177...
5574  afcc57c8d8927b8f4310fb5079735d8a911a6049e7dc81...
5575  a85fff4f2c3f4b81ae7078c9facedd48218af85b377a45...
5576  aacb5972517eedbbeb330d1e42337bc186d6891d591319...
5577  b2b29df1fa4b5650b870fe32b3255baa17afa39135bf22...

                                               sentence  sentence_domain  \
5573  அபிமன் வாளைக் கொண்டே அவன் தேர்களையும் வில் களை...              NaN
5574                           கெளத முனிவர் கூறுகிறார்.              NaN
5575  இதைத்தான் திருவள்ளுவர் உலகந் தழீஇயது ஒட்பம் என...              NaN
5576  அவளைப் பற்றிய விவரங்கள் யாவும் அடங்கிய ஓலை யொன...              NaN
5577  அகத்தியனை முத்தமிழ் முனிவன் எனக் காஞ்சிப் புரா...              NaN

      up_votes  down_votes       age           gender  \
5573         0           2  twenties  female_feminine
5574         0           2  twenties  female_feminine
5575         0           2  twenties  female_feminine
5576         0           2       NaN              NaN
5577         0           3   fifties  female_feminine

                               accents  variant locale segment
5573                      Normal tamil      NaN     ta     NaN
5574                      Normal tamil      NaN     ta     NaN
5575                      Normal tamil      NaN     ta     NaN
5576             Normal tamil speaking      NaN     ta     NaN
5577  யாழ்ப்பாணத் தமிழ்,இலங்கைத் தமிழ்      NaN     ta     NaN

In [52]:
print("Total rows:", len(df))

Total rows: 5578

In [53]:
with open(invalidated_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 5706
Total data rows: 5705

In [54]:
invalidated_bad_lines = []
with open(invalidated_tsv_file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if line.count('\t') != 12:  # 13 columns → 12 tabs
            invalidated_bad_lines.append((i, line.strip()))
print(f"Number of bad lines: {len(invalidated_bad_lines)}")
print("Example bad line:", invalidated_bad_lines[0] if invalidated_bad_lines else "None")

Number of bad lines: 0
Example bad line: None

In [55]:
df = pd.read_csv(invalidated_tsv_file_path, sep='\t', dtype=str)  # Keep all as string to avoid parsing issues
print("Rows loaded:", len(df)) # Check total number of rows loaded

Rows loaded: 5578

In [56]:
empty_rows = df.isnull().all(axis=1).sum() # Check how many rows are completely empty (NaN in all columns)
print("Completely empty rows:", empty_rows)
nan_sentences = df['sentence'].isnull().sum() # Check for rows with NaN in essential columns (like 'sentence')
print("Rows with missing sentence:", nan_sentences)

Completely empty rows: 0
Rows with missing sentence: 0

In [57]:
with open(invalidated_tsv_file_path, "r", encoding="utf-8") as f:
    header_line = f.readline().strip()
    duplicate_header_count = sum(1 for line in f if line.strip() == header_line)
print("Duplicate header rows:", duplicate_header_count)

Duplicate header rows: 0

In [58]:
df_invalidated_all = pd.read_csv(
    invalidated_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_invalidated_all))

Rows loaded (with warnings): 5705

In [59]:
#checking
print("Columns:\n", df.columns.tolist()) # View column names
print("\nShape (rows, columns):", df.shape) # View number of rows and columns
print("\nTotal Rows:", df.shape[0])
print("Total Columns:", df.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (5578, 13)

Total Rows: 5578
Total Columns: 13

In [60]:
print("Columns:\n", df_invalidated_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_invalidated_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_invalidated_all.shape[0])
print("Total Columns:", df_invalidated_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (5705, 13)

Total Rows: 5705
Total Columns: 13

In [61]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_invalidated_all[['path', 'sentence']].head()))

First 5 rows:

                           path                            sentence
0  common_voice_ta_19071681.mp3    துணைவன் இறந்தபின் வேறு துணைதேடச்
1  common_voice_ta_19083966.mp3     சூரியன் ஒரு நடுவயது நட்சத்திரம்
2  common_voice_ta_19083970.mp3                    நாங்கள், ஆண்மைச்
3  common_voice_ta_19084099.mp3   பசியால் அண்ணன் பதைபதைக் கின்றான்;
4  common_voice_ta_19093477.mp3  மன்னாதி மன்னர்களே, என்விண் ணப்பம்!

None

In [62]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_invalidated_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
5700,common_voice_ta_37380566.mp3,அபிமன் வாளைக் கொண்டே அவன் தேர்களையும் வில் களை...
5701,common_voice_ta_37382522.mp3,கெளத முனிவர் கூறுகிறார்.
5702,common_voice_ta_37382533.mp3,இதைத்தான் திருவள்ளுவர் உலகந் தழீஇயது ஒட்பம் என...
5703,common_voice_ta_38522355.mp3,அவளைப் பற்றிய விவரங்கள் யாவும் அடங்கிய ஓலை யொன...
5704,common_voice_ta_38671127.mp3,அகத்தியனை முத்தமிழ் முனிவன் எனக் காஞ்சிப் புரா...

None

For invalidated_path_sentence_updated csv file

In [63]:
df_invalidated_path_sentence = df_invalidated_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [64]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_invalidated_path_sentence.shape)

Shape: (5705, 2)

In [65]:
df_invalidated_path_sentence.index = range(1, len(df_invalidated_path_sentence) + 1) # Reset the index and then set it to start from 1

In [66]:
print(df_invalidated_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path                            sentence
1  common_voice_ta_19071681.mp3    துணைவன் இறந்தபின் வேறு துணைதேடச்
2  common_voice_ta_19083966.mp3     சூரியன் ஒரு நடுவயது நட்சத்திரம்
3  common_voice_ta_19083970.mp3                    நாங்கள், ஆண்மைச்
4  common_voice_ta_19084099.mp3   பசியால் அண்ணன் பதைபதைக் கின்றான்;
5  common_voice_ta_19093477.mp3  மன்னாதி மன்னர்களே, என்விண் ணப்பம்!

In [67]:
print(df_invalidated_path_sentence.tail())

                              path  \
5701  common_voice_ta_37380566.mp3
5702  common_voice_ta_37382522.mp3
5703  common_voice_ta_37382533.mp3
5704  common_voice_ta_38522355.mp3
5705  common_voice_ta_38671127.mp3

                                               sentence
5701  அபிமன் வாளைக் கொண்டே அவன் தேர்களையும் வில் களை...
5702                           கெளத முனிவர் கூறுகிறார்.
5703  இதைத்தான் திருவள்ளுவர் உலகந் தழீஇயது ஒட்பம் என...
5704  அவளைப் பற்றிய விவரங்கள் யாவும் அடங்கிய ஓலை யொன...
5705  அகத்தியனை முத்தமிழ் முனிவன் எனக் காஞ்சிப் புரா...

In [68]:
df_invalidated_path_sentence.to_csv('invalidated_path_sentence_updated.csv', index=False) # Save to CSV, keep the index in the file

**For other.tsv file**

In [69]:
other_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/other.tsv"
df = pd.read_csv(other_tsv_file_path, sep='\t') # Load and preview the TSV file
print(df.head(10)) # Display the first 10 rows
print("Total rows:", df.shape[0]) # Show the number of rows and columns
print("Total columns:", df.shape[1])

                                           client_id  \
0  bf648dab1b4490f07144c3dc2ae933e8c8d9850de275ee...
1  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
2  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
3  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
4  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
5  7d61a7238caeb62624af2b9c202edbfc534e7955658646...
6  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
7  7d61a7238caeb62624af2b9c202edbfc534e7955658646...
8  7d61a7238caeb62624af2b9c202edbfc534e7955658646...
9  7d61a7238caeb62624af2b9c202edbfc534e7955658646...

                           path  \
0  common_voice_ta_19924583.mp3
1  common_voice_ta_19924634.mp3
2  common_voice_ta_19924723.mp3
3  common_voice_ta_19924810.mp3
4  common_voice_ta_19924873.mp3
5  common_voice_ta_19924902.mp3
6  common_voice_ta_19928465.mp3
7  common_voice_ta_19930105.mp3
8  common_voice_ta_19930131.mp3
9  common_voice_ta_19930146.mp3

                                         sentence_id  \
0  a31eca7c44ab179911e3147fe32c40396fedf7d398bbfd...
1  aa4db0f1a4fe1f7ad66640bb52c49a1a3b0b9cbb892775...
2  ac86f1f676df169f3f5de30ae6db779fad8f5b1819dbdd...
3  b370ee74a3d165c31c7eadc47d473852481f238f4c5ff6...
4  ba2b12373f751a1d416a9576cc8ab539835ec6f8cfc152...
5  b55bcae9a1d82e4dac4f48e192c548befc3090316af5ec...
6  b1f5b9913ce63c4b137fa0eb99c2a7c773039b10f511b2...
7  95941d4428938467efb7168098006e4befea6db17d3ef5...
8  b2072bd194ebeee4584ca38b4ccf24efa5b1ac9da32d60...
9  abd62181b392137ef098edbbc4175d02e4c15cd3cdfa1f...

                                            sentence  sentence_domain  \
0                             குட்டை மனத்தாலே - அவர்              NaN
1             என்றாள். "வெந்நீர் இருக்குமா" என்றான்.              NaN
2                இதுஅதுவாய் மாறிவிடும் மறுக ணத்தில்.              NaN
3  குன்றெடுக்கும் பெருந்தோளான் கொடைகொடுக்கும் கைய...              NaN
4                         என் எழுதுகோலைக் காணவில்லை.              NaN
5         தாடியும்பொய்! என்றன் தலைப்பாகை யும்பொய்யே!              NaN
6     சாணிக்குப் பொட்டிட்டுச் சாமிஎன்பார் செய்கைக்கு              NaN
7  செறிவறிந்து சீர்மை பயக்கும் அறிவறிந்து ஆற்றின்...              NaN
8          நெஞ்சையும் காதையும் நேராக வைத்திருந்தார்:              NaN
9         நிலம்விளைந்த பைங்கூழ் நிலைமையும் அம்மட்டே.              NaN

   up_votes  down_votes       age           gender accents  variant locale  \
0         1           0  thirties   male_masculine     NaN      NaN     ta
1         1           0  thirties  female_feminine     NaN      NaN     ta
2         1           0  thirties  female_feminine     NaN      NaN     ta
3         1           0  thirties  female_feminine     NaN      NaN     ta
4         1           0  thirties  female_feminine     NaN      NaN     ta
5         1           0  twenties  female_feminine     NaN      NaN     ta
6         1           0  thirties  female_feminine     NaN      NaN     ta
7         1           0  twenties  female_feminine     NaN      NaN     ta
8         1           0  twenties  female_feminine     NaN      NaN     ta
9         1           0  twenties  female_feminine     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
Total rows: 105054
Total columns: 13

/tmp/ipykernel_1448709/1045138310.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(other_tsv_file_path, sep='\t') # Load and preview the TSV file

In [70]:
print(df.head(5))

                                           client_id  \
0  bf648dab1b4490f07144c3dc2ae933e8c8d9850de275ee...
1  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
2  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
3  e2222245041f03ae0f444c01c77524acb97955fe2ba784...
4  e2222245041f03ae0f444c01c77524acb97955fe2ba784...

                           path  \
0  common_voice_ta_19924583.mp3
1  common_voice_ta_19924634.mp3
2  common_voice_ta_19924723.mp3
3  common_voice_ta_19924810.mp3
4  common_voice_ta_19924873.mp3

                                         sentence_id  \
0  a31eca7c44ab179911e3147fe32c40396fedf7d398bbfd...
1  aa4db0f1a4fe1f7ad66640bb52c49a1a3b0b9cbb892775...
2  ac86f1f676df169f3f5de30ae6db779fad8f5b1819dbdd...
3  b370ee74a3d165c31c7eadc47d473852481f238f4c5ff6...
4  ba2b12373f751a1d416a9576cc8ab539835ec6f8cfc152...

                                            sentence  sentence_domain  \
0                             குட்டை மனத்தாலே - அவர்              NaN
1             என்றாள். "வெந்நீர் இருக்குமா" என்றான்.              NaN
2                இதுஅதுவாய் மாறிவிடும் மறுக ணத்தில்.              NaN
3  குன்றெடுக்கும் பெருந்தோளான் கொடைகொடுக்கும் கைய...              NaN
4                         என் எழுதுகோலைக் காணவில்லை.              NaN

   up_votes  down_votes       age           gender accents  variant locale  \
0         1           0  thirties   male_masculine     NaN      NaN     ta
1         1           0  thirties  female_feminine     NaN      NaN     ta
2         1           0  thirties  female_feminine     NaN      NaN     ta
3         1           0  thirties  female_feminine     NaN      NaN     ta
4         1           0  thirties  female_feminine     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [71]:
print(df.tail(5))

                                                client_id  \
105049  25008f58459bb9bdd0edfc20d9b263a32f578999dcef6e...
105050  25008f58459bb9bdd0edfc20d9b263a32f578999dcef6e...
105051  25008f58459bb9bdd0edfc20d9b263a32f578999dcef6e...
105052  defb4239d96279350af8040e43d88682201bffc9b9fe87...
105053  defb4239d96279350af8040e43d88682201bffc9b9fe87...

                                path  \
105049  common_voice_ta_41104913.mp3
105050  common_voice_ta_41104914.mp3
105051  common_voice_ta_41104915.mp3
105052  common_voice_ta_41206047.mp3
105053  common_voice_ta_41206048.mp3

                                              sentence_id  \
105049  00fe48e8f70ac2b4333dbd5d7ab38e6b82e52379c28f49...
105050  01446461830aa7dc750bcdadc60797e7cbdfa95777cec2...
105051  fe6019363f878bf176b1ad313e99f0eab002cb39134b53...
105052  fdd0b2b32b6eb9ccd81420557513ffed1d2049a4843689...
105053  fffd4387d41bc1fd540270acbb711f8b36e56ac2e34be1...

                                                 sentence  sentence_domain  \
105049  போட்டி போட்டு ஒருவர்க்கொருவர் சுருட்டு விலையைக...              NaN
105050  மலையின்மேல் உள்ள இந்தக் கழுகுக்கூடு என்ற கோட்ட...              NaN
105051  அந்தத் துன்பத்தையும் மறக்க அவன் அவ்வப்போது வெள...              NaN
105052  பாட்னா நகர் சென்ற காந்தியார், ராஜன் பாபு வீட்ட...              NaN
105053  கலை என்பது அழகு ணர்ச்சியிலே பிறந்து அவனுக்கு ஆ...              NaN

        up_votes  down_votes  age gender accents  variant locale segment
105049         0           0  NaN    NaN     NaN      NaN     ta     NaN
105050         0           0  NaN    NaN     NaN      NaN     ta     NaN
105051         0           0  NaN    NaN     NaN      NaN     ta     NaN
105052         0           0  NaN    NaN     NaN      NaN     ta     NaN
105053         0           0  NaN    NaN     NaN      NaN     ta     NaN

In [72]:
print("Total rows:", len(df))

Total rows: 105054

In [73]:
with open(other_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 105055
Total data rows: 105054

In [75]:
df_other_all = pd.read_csv(
    other_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_other_all))

Rows loaded (with warnings): 105054

/tmp/ipykernel_1448709/3744506028.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_other_all = pd.read_csv(

In [76]:
print("Columns:\n", df_other_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_other_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_other_all.shape[0])
print("Total Columns:", df_other_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (105054, 13)

Total Rows: 105054
Total Columns: 13

In [77]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_other_all[['path', 'sentence']].head()))

First 5 rows:

,path,sentence
0,common_voice_ta_19924583.mp3,குட்டை மனத்தாலே - அவர்
1,common_voice_ta_19924634.mp3,"என்றாள். ""வெந்நீர் இருக்குமா"" என்றான்."
2,common_voice_ta_19924723.mp3,இதுஅதுவாய் மாறிவிடும் மறுக ணத்தில்.
3,common_voice_ta_19924810.mp3,குன்றெடுக்கும் பெருந்தோளான் கொடைகொடுக்கும் கைய...
4,common_voice_ta_19924873.mp3,என் எழுதுகோலைக் காணவில்லை.

None

In [78]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_other_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
105049,common_voice_ta_41104913.mp3,போட்டி போட்டு ஒருவர்க்கொருவர் சுருட்டு விலையைக...
105050,common_voice_ta_41104914.mp3,மலையின்மேல் உள்ள இந்தக் கழுகுக்கூடு என்ற கோட்ட...
105051,common_voice_ta_41104915.mp3,அந்தத் துன்பத்தையும் மறக்க அவன் அவ்வப்போது வெள...
105052,common_voice_ta_41206047.mp3,"பாட்னா நகர் சென்ற காந்தியார், ராஜன் பாபு வீட்ட..."
105053,common_voice_ta_41206048.mp3,கலை என்பது அழகு ணர்ச்சியிலே பிறந்து அவனுக்கு ஆ...

None

For other_path_sentence_updated csv file

In [79]:
df_other_path_sentence = df_other_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [80]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_other_path_sentence.shape)

Shape: (105054, 2)

In [81]:
df_other_path_sentence.index = range(1, len(df_other_path_sentence) + 1) # Reset the index and then set it to start from 1

In [82]:
print(df_other_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path  \
1  common_voice_ta_19924583.mp3
2  common_voice_ta_19924634.mp3
3  common_voice_ta_19924723.mp3
4  common_voice_ta_19924810.mp3
5  common_voice_ta_19924873.mp3

                                            sentence
1                             குட்டை மனத்தாலே - அவர்
2             என்றாள். "வெந்நீர் இருக்குமா" என்றான்.
3                இதுஅதுவாய் மாறிவிடும் மறுக ணத்தில்.
4  குன்றெடுக்கும் பெருந்தோளான் கொடைகொடுக்கும் கைய...
5                         என் எழுதுகோலைக் காணவில்லை.

In [83]:
print(df_other_path_sentence.tail())

                                path  \
105050  common_voice_ta_41104913.mp3
105051  common_voice_ta_41104914.mp3
105052  common_voice_ta_41104915.mp3
105053  common_voice_ta_41206047.mp3
105054  common_voice_ta_41206048.mp3

                                                 sentence
105050  போட்டி போட்டு ஒருவர்க்கொருவர் சுருட்டு விலையைக...
105051  மலையின்மேல் உள்ள இந்தக் கழுகுக்கூடு என்ற கோட்ட...
105052  அந்தத் துன்பத்தையும் மறக்க அவன் அவ்வப்போது வெள...
105053  பாட்னா நகர் சென்ற காந்தியார், ராஜன் பாபு வீட்ட...
105054  கலை என்பது அழகு ணர்ச்சியிலே பிறந்து அவனுக்கு ஆ...

In [84]:
df_other_path_sentence.to_csv('other_path_sentence_updated.csv', index=False) # Save to CSV

**For test.tsv file**

In [96]:
test_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/test.tsv"
df = pd.read_csv(test_tsv_file_path, sep='\t') # Load and preview the TSV file
print(df.head(10)) # Display the first 10 rows
print("Total rows:", df.shape[0]) # Show the number of rows and columns
print("Total columns:", df.shape[1])

                                           client_id  \
0  01d7a8109646317f5c18c445cdc1455d3531ac1b63c19c...
1  031844188d789537f91c8368a4c2229289567727ff76d7...
2  049b3de3ae6801ef5033ec9f70f62ec00b5f76d907293d...
3  0d57f897226d23d7bcfd55f2322f195cfc3ccbd74b2199...
4  15eeac1471cd225a23830c8d11e23bd55972283274fca9...
5  1dd6f154f831155c19fbbc4aacf6240ecba021a4f0d4f9...
6  2812849479fbeedb77ef323bd4b2b584cf2fb2351a71cc...
7  32f319fef90857525e86d7208896001809972742bf85c2...
8  36c8e60e3f933bfd70de6359683546d72a35b337a1df1e...
9  424e6a8b49c709a75b609d505713ae1a594282a2385f6a...

                           path  \
0  common_voice_ta_28441667.mp3
1  common_voice_ta_30465365.mp3
2  common_voice_ta_26622621.mp3
3  common_voice_ta_24996970.mp3
4  common_voice_ta_27058221.mp3
5  common_voice_ta_28781016.mp3
6  common_voice_ta_37163911.mp3
7  common_voice_ta_29624933.mp3
8  common_voice_ta_34938447.mp3
9  common_voice_ta_38775030.mp3

                                         sentence_id  \
0  4ece3b00fb6122f171a053ba9b1d88dac709392f8f693b...
1  2290ed298076073a66ae3d299cd6d50cd977366f950dd6...
2  9ddf575639ea30252381fb38eb815bb0481e534a75dc65...
3  0f8d8590713f64c96711dac47a3717ae9d8d9d058a58eb...
4  177f22c6cb0eb06387af659e226b3ce32205da2fa35b5b...
5  95fb9d62d0ba605138d1032e871ed5cc662030a9280cab...
6  a36f2964c3f716e78a3c0ce5d4d8184745158a4f7ede67...
7  e7af2bfeab96bbaf48cdcdc9f97d357e8626c12059605d...
8  9da5fc3a340c276b6f67f474c9889086c345c66e868832...
9  b298beb8adf6668cc21e7aab3d725f58bc100483913fff...

                                            sentence  sentence_domain  \
0  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...              NaN
1  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...              NaN
2                              உங்கள் நோக்கு புதிது.              NaN
3                  இந்த நாளில் அது மறைந்து வருகிறது.              NaN
4  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...              NaN
5       இவர்களிடம் இன்சொல்லை எவ்வாறு எதிர்பார்ப்பது?              NaN
6                          இதைப் பிரித்தவர்கள் யார்?              NaN
7               இவர்கள் ஜரிஷ் புரட்சிக் கூட்டத்தார்.              NaN
8  நான் ஒடிப்போய் அதனிடமிருந்து தப்பிவரத் தாமதமாய...              NaN
9  மருத்துவத் துறையிலும் உணவுத் துறையிலும் பயன்பட...              NaN

   up_votes  down_votes       age           gender accents  variant locale  \
0         2           1  twenties   male_masculine     NaN      NaN     ta
1         2           0  thirties   male_masculine     NaN      NaN     ta
2         3           2       NaN              NaN     NaN      NaN     ta
3         2           0       NaN              NaN     NaN      NaN     ta
4         3           0  thirties   male_masculine     NaN      NaN     ta
5         2           0       NaN              NaN     NaN      NaN     ta
6         2           0  twenties   male_masculine     NaN      NaN     ta
7         2           0  twenties  female_feminine     NaN      NaN     ta
8         2           0  fourties   male_masculine     NaN      NaN     ta
9         2           0       NaN              NaN     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
Total rows: 7948
Total columns: 13

In [97]:
print(df.head(5))

                                           client_id  \
0  01d7a8109646317f5c18c445cdc1455d3531ac1b63c19c...
1  031844188d789537f91c8368a4c2229289567727ff76d7...
2  049b3de3ae6801ef5033ec9f70f62ec00b5f76d907293d...
3  0d57f897226d23d7bcfd55f2322f195cfc3ccbd74b2199...
4  15eeac1471cd225a23830c8d11e23bd55972283274fca9...

                           path  \
0  common_voice_ta_28441667.mp3
1  common_voice_ta_30465365.mp3
2  common_voice_ta_26622621.mp3
3  common_voice_ta_24996970.mp3
4  common_voice_ta_27058221.mp3

                                         sentence_id  \
0  4ece3b00fb6122f171a053ba9b1d88dac709392f8f693b...
1  2290ed298076073a66ae3d299cd6d50cd977366f950dd6...
2  9ddf575639ea30252381fb38eb815bb0481e534a75dc65...
3  0f8d8590713f64c96711dac47a3717ae9d8d9d058a58eb...
4  177f22c6cb0eb06387af659e226b3ce32205da2fa35b5b...

                                            sentence  sentence_domain  \
0  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...              NaN
1  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...              NaN
2                              உங்கள் நோக்கு புதிது.              NaN
3                  இந்த நாளில் அது மறைந்து வருகிறது.              NaN
4  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...              NaN

   up_votes  down_votes       age          gender accents  variant locale  \
0         2           1  twenties  male_masculine     NaN      NaN     ta
1         2           0  thirties  male_masculine     NaN      NaN     ta
2         3           2       NaN             NaN     NaN      NaN     ta
3         2           0       NaN             NaN     NaN      NaN     ta
4         3           0  thirties  male_masculine     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [98]:
print(df.tail(5))

                                              client_id  \
7943  866ca904291f8d25f1b04ff418ddb2a2d4cf1021eb0f39...
7944  866ca904291f8d25f1b04ff418ddb2a2d4cf1021eb0f39...
7945  866ca904291f8d25f1b04ff418ddb2a2d4cf1021eb0f39...
7946  866ca904291f8d25f1b04ff418ddb2a2d4cf1021eb0f39...
7947  866ca904291f8d25f1b04ff418ddb2a2d4cf1021eb0f39...

                              path  \
7943  common_voice_ta_27638600.mp3
7944  common_voice_ta_27638601.mp3
7945  common_voice_ta_27638647.mp3
7946  common_voice_ta_27638648.mp3
7947  common_voice_ta_27638650.mp3

                                            sentence_id  \
7943  3fbc62aeb2ea28c31e2784c0b08cd61c5a1f35e24e02e9...
7944  32b91de21009b3cf3b7462439f2cee752316ff6091cd95...
7945  3f9804cce601c3ba43389366ab1b4afddfe4bb67c34a78...
7946  3ee8b8a24ecd71f8b622d60b7862ac9332b106b9c922b0...
7947  3d97f70619ba678728754796723c36280735532208ed3d...

                                               sentence  sentence_domain  \
7943  நிச்சயமாகச் சொல்லுகிறோம், இன்னொரு முறை குற்றம்...              NaN
7944  திருடனை உடனே கண்டுபிடிக்க வேண்டும் என்று அரசனி...              NaN
7945  மரங்கள் மண்ணிலிருந்து தண்ணிர், உரம் எடுத்துக் ...              NaN
7946  நாங்கள் சைதாப் பேட்டைக்கு வந்த நாளிலிருந்தே பா...              NaN
7947  அவருக்கு மட்டுமன்று பெருநோய் அவருடைய அன்பு மகள...              NaN

      up_votes  down_votes       age          gender accents  variant locale  \
7943         2           0  twenties  male_masculine     NaN      NaN     ta
7944         2           0  twenties  male_masculine     NaN      NaN     ta
7945         2           0  twenties  male_masculine     NaN      NaN     ta
7946         2           0  twenties  male_masculine     NaN      NaN     ta
7947         2           1  twenties  male_masculine     NaN      NaN     ta

     segment
7943     NaN
7944     NaN
7945     NaN
7946     NaN
7947     NaN

In [99]:
print("Total rows:", len(df))

Total rows: 7948

In [100]:
with open(test_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 12190
Total data rows: 12189

In [101]:
other_bad_lines = []
with open(other_tsv_file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if line.count('\t') != 12:  # 13 columns 
            other_bad_lines.append((i, line.strip()))
print(f"Number of bad lines: {len(other_bad_lines)}")
print("Example bad line:", other_bad_lines[0] if other_bad_lines else "None")

Number of bad lines: 0
Example bad line: None

In [102]:
df = pd.read_csv(test_tsv_file_path, sep='\t', dtype=str)  # Keep all as string to avoid parsing issues
print("Rows loaded:", len(df)) # Check total number of rows loaded
empty_rows = df.isnull().all(axis=1).sum() # Check how many rows are completely empty (NaN in all columns)
print("Completely empty rows:", empty_rows)
nan_sentences = df['sentence'].isnull().sum() # Check for rows with NaN in essential columns (like 'sentence')
print("Rows with missing sentence:", nan_sentences)
with open(test_tsv_file_path, "r", encoding="utf-8") as f:
    header_line = f.readline().strip()
    duplicate_header_count = sum(1 for line in f if line.strip() == header_line)
print("Duplicate header rows:", duplicate_header_count)

Rows loaded: 7948
Completely empty rows: 0
Rows with missing sentence: 0
Duplicate header rows: 0

In [103]:
#checking
print("Columns:\n", df.columns.tolist()) # View column names
print("\nShape (rows, columns):", df.shape) # View number of rows and columns
print("\nTotal Rows:", df.shape[0])
print("Total Columns:", df.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (7948, 13)

Total Rows: 7948
Total Columns: 13

In [104]:
df_test_all = pd.read_csv(
    test_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_test_all))

Rows loaded (with warnings): 12189

In [105]:
print("Columns:\n", df_test_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_test_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_test_all.shape[0])
print("Total Columns:", df_test_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (12189, 13)

Total Rows: 12189
Total Columns: 13

In [106]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_test_all[['path', 'sentence']].head()))

First 5 rows:

,path,sentence
0,common_voice_ta_28441667.mp3,மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...
1,common_voice_ta_30465365.mp3,கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...
2,common_voice_ta_26622621.mp3,உங்கள் நோக்கு புதிது.
3,common_voice_ta_24996970.mp3,இந்த நாளில் அது மறைந்து வருகிறது.
4,common_voice_ta_27058221.mp3,அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...

None

In [107]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_test_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
12184,common_voice_ta_27638600.mp3,"நிச்சயமாகச் சொல்லுகிறோம், இன்னொரு முறை குற்றம்..."
12185,common_voice_ta_27638601.mp3,திருடனை உடனே கண்டுபிடிக்க வேண்டும் என்று அரசனி...
12186,common_voice_ta_27638647.mp3,"மரங்கள் மண்ணிலிருந்து தண்ணிர், உரம் எடுத்துக் ..."
12187,common_voice_ta_27638648.mp3,நாங்கள் சைதாப் பேட்டைக்கு வந்த நாளிலிருந்தே பா...
12188,common_voice_ta_27638650.mp3,அவருக்கு மட்டுமன்று பெருநோய் அவருடைய அன்பு மகள...

None

For test_path_sentence_updated csv file

In [108]:
df_test_path_sentence = df_test_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [109]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_test_path_sentence.shape)

Shape: (12189, 2)

In [110]:
df_test_path_sentence.index = range(1, len(df_test_path_sentence) + 1) # Reset the index and then set it to start from 1

In [111]:
print(df_test_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path  \
1  common_voice_ta_28441667.mp3
2  common_voice_ta_30465365.mp3
3  common_voice_ta_26622621.mp3
4  common_voice_ta_24996970.mp3
5  common_voice_ta_27058221.mp3

                                            sentence
1  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...
2  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...
3                              உங்கள் நோக்கு புதிது.
4                  இந்த நாளில் அது மறைந்து வருகிறது.
5  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...

In [112]:
print(df_test_path_sentence.tail())

                               path  \
12185  common_voice_ta_27638600.mp3
12186  common_voice_ta_27638601.mp3
12187  common_voice_ta_27638647.mp3
12188  common_voice_ta_27638648.mp3
12189  common_voice_ta_27638650.mp3

                                                sentence
12185  நிச்சயமாகச் சொல்லுகிறோம், இன்னொரு முறை குற்றம்...
12186  திருடனை உடனே கண்டுபிடிக்க வேண்டும் என்று அரசனி...
12187  மரங்கள் மண்ணிலிருந்து தண்ணிர், உரம் எடுத்துக் ...
12188  நாங்கள் சைதாப் பேட்டைக்கு வந்த நாளிலிருந்தே பா...
12189  அவருக்கு மட்டுமன்று பெருநோய் அவருடைய அன்பு மகள...

In [113]:
df_test_path_sentence.to_csv('test_path_sentence_updated.csv', index=False) # Save to CSV, keep the index in the file

**For Train.tsv**

In [114]:
train_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/train.tsv"
df = pd.read_csv(train_tsv_file_path, sep='\t') # Load and preview the TSV file
print(df.head(10)) # Display the first 10 rows
print("Total rows:", df.shape[0]) # Show the number of rows and columns
print("Total columns:", df.shape[1])

                                           client_id  \
0  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
1  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
2  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
3  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
4  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
5  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
6  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
7  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
8  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
9  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...

                           path  \
0  common_voice_ta_26650298.mp3
1  common_voice_ta_26650300.mp3
2  common_voice_ta_26650301.mp3
3  common_voice_ta_26650302.mp3
4  common_voice_ta_26650308.mp3
5  common_voice_ta_26650309.mp3
6  common_voice_ta_26650310.mp3
7  common_voice_ta_26650311.mp3
8  common_voice_ta_26650313.mp3
9  common_voice_ta_26650314.mp3

                                         sentence_id  \
0  a3b005b1247373349d5e0447e9e4902d604c3b76480084...
1  9bc81b349ef9bf803575b248f9a47fd042509e9f052086...
2  a0d04a925abcaccf483f41c140c2ddea640e19e32ce892...
3  a8064c6e96615d511ea238bb83a4e1e4dd23e02343d5f1...
4  a6db67c889502d5fe6f21d64e299495e55eef749532f46...
5  a7e61acf43e64f7b615e8997337c4be8736bb03b923916...
6  a5873639e4c2474f9b2233ee163609cbdb518eddd5c20a...
7  a450c71b1242faac1b81300c119472fdcbbc9ce3c47f4e...
8  a7c139726273562e9baf7e17c8d28ac48d0c075702f098...
9  a80204523dedbbf5f1b1c1ecc55c1098745329e7b83147...

                                            sentence  sentence_domain  \
0  அவரைப் பொதுமக்கள் விடாமல் பின்னாலேயே துரத்திக்...              NaN
1                    மனிதனுடைய இன்பங்கள் இரண்டு வகை.              NaN
2  ஆனால் குடியிருக்கும் போதாவது அது நமக்கு முழுச்...              NaN
3  எட்டையபுர ஜமீன்தார் அவர்கள் தன்னுடைய பெரிய வீட...              NaN
4  கல்லிலே பெரும் பகுதியைப் பெருமானுக்கும் கருடனு...              NaN
5  கொங்குநாடும் அதன் வளமிக்க குறிஞ்சியான கொல்லியு...              NaN
6  வெளிச்சத்தில் பாலுவை ரத்தம் தோய்ந்த பிச்சுவாவு...              NaN
7           பித்திகை முகையை எழுத்தாணியாகக் கொண்டாள்.              NaN
8  விருப்பு வெறுப்பு என்பது அவனிடம் இருப்புக் கொள...              NaN
9  பெரும்பாலும், மக்களுக்குள் அவை மறைந்தும் இருந்...              NaN

   up_votes  down_votes      age           gender  accents  variant locale  \
0         2           0  fifties  female_feminine      NaN      NaN     ta
1         2           0  fifties  female_feminine      NaN      NaN     ta
2         2           0  fifties  female_feminine      NaN      NaN     ta
3         2           0  fifties  female_feminine      NaN      NaN     ta
4         2           0  fifties  female_feminine      NaN      NaN     ta
5         2           0  fifties  female_feminine      NaN      NaN     ta
6         2           0  fifties  female_feminine      NaN      NaN     ta
7         2           0  fifties  female_feminine      NaN      NaN     ta
8         3           0  fifties  female_feminine      NaN      NaN     ta
9         2           0  fifties  female_feminine      NaN      NaN     ta

   segment
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
Total rows: 45770
Total columns: 13

In [115]:
print(df.head(5))

                                           client_id  \
0  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
1  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
2  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
3  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...
4  a1252dd9f1a6c970da7b1a330ad07f9546330b5007dcd8...

                           path  \
0  common_voice_ta_26650298.mp3
1  common_voice_ta_26650300.mp3
2  common_voice_ta_26650301.mp3
3  common_voice_ta_26650302.mp3
4  common_voice_ta_26650308.mp3

                                         sentence_id  \
0  a3b005b1247373349d5e0447e9e4902d604c3b76480084...
1  9bc81b349ef9bf803575b248f9a47fd042509e9f052086...
2  a0d04a925abcaccf483f41c140c2ddea640e19e32ce892...
3  a8064c6e96615d511ea238bb83a4e1e4dd23e02343d5f1...
4  a6db67c889502d5fe6f21d64e299495e55eef749532f46...

                                            sentence  sentence_domain  \
0  அவரைப் பொதுமக்கள் விடாமல் பின்னாலேயே துரத்திக்...              NaN
1                    மனிதனுடைய இன்பங்கள் இரண்டு வகை.              NaN
2  ஆனால் குடியிருக்கும் போதாவது அது நமக்கு முழுச்...              NaN
3  எட்டையபுர ஜமீன்தார் அவர்கள் தன்னுடைய பெரிய வீட...              NaN
4  கல்லிலே பெரும் பகுதியைப் பெருமானுக்கும் கருடனு...              NaN

   up_votes  down_votes      age           gender  accents  variant locale  \
0         2           0  fifties  female_feminine      NaN      NaN     ta
1         2           0  fifties  female_feminine      NaN      NaN     ta
2         2           0  fifties  female_feminine      NaN      NaN     ta
3         2           0  fifties  female_feminine      NaN      NaN     ta
4         2           0  fifties  female_feminine      NaN      NaN     ta

   segment
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN

In [116]:
print(df.tail(5))

                                               client_id  \
45765  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
45766  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
45767  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
45768  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
45769  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...

                               path  \
45765  common_voice_ta_34515372.mp3
45766  common_voice_ta_34515408.mp3
45767  common_voice_ta_34907643.mp3
45768  common_voice_ta_34959575.mp3
45769  common_voice_ta_35021699.mp3

                                             sentence_id  \
45765  a0ba9155d340a7d025ba4260c686fa7956cb883e5b2d1e...
45766  9c9b25412462a367d43c06e954aca7c5fb8a59aadbad25...
45767  a2584461cd52fcd496d129fb508c559d0524bfc1c8e5e8...
45768  a4dd3c96bd69a2df9376e8a283b173f603f2258e82ae3f...
45769  a3f6935f6d16899c6cb87f7bb44b1e6c940fb0cba0cf53...

                                                sentence  sentence_domain  \
45765  மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை...              NaN
45766  இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...              NaN
45767  வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...              NaN
45768              அந்தக் கடைதான் என்று முடிவு செய்தான்.              NaN
45769  நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...              NaN

       up_votes  down_votes  age gender  accents  variant locale  segment
45765         2           0  NaN    NaN      NaN      NaN     ta      NaN
45766         2           0  NaN    NaN      NaN      NaN     ta      NaN
45767         2           0  NaN    NaN      NaN      NaN     ta      NaN
45768         2           0  NaN    NaN      NaN      NaN     ta      NaN
45769         2           0  NaN    NaN      NaN      NaN     ta      NaN

In [117]:
print("Total rows:", len(df))

Total rows: 45770

In [118]:
with open(train_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 46069
Total data rows: 46068

In [119]:
train_bad_lines = []
with open(train_tsv_file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if line.count('\t') != 12:  # 13 columns → 12 tabs
            train_bad_lines.append((i, line.strip()))
print(f"Number of bad lines: {len(train_bad_lines)}")
print("Example bad line:", train_bad_lines[0] if train_bad_lines else "None")

Number of bad lines: 0
Example bad line: None

In [121]:
df = pd.read_csv(train_tsv_file_path, sep='\t', dtype=str)  # Keep all as string to avoid parsing issues
print("Rows loaded:", len(df)) # Check total number of rows loaded
empty_rows = df.isnull().all(axis=1).sum() # Check how many rows are completely empty (NaN in all columns)
print("Completely empty rows:", empty_rows)
nan_sentences = df['sentence'].isnull().sum() # Check for rows with NaN in essential columns (like 'sentence')
print("Rows with missing sentence:", nan_sentences)
with open(train_tsv_file_path, "r", encoding="utf-8") as f:
    header_line = f.readline().strip()
    duplicate_header_count = sum(1 for line in f if line.strip() == header_line)
print("Duplicate header rows:", duplicate_header_count)

Rows loaded: 45770
Completely empty rows: 0
Rows with missing sentence: 0
Duplicate header rows: 0

In [122]:
df_train_all = pd.read_csv(
    train_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_train_all))

Rows loaded (with warnings): 46068

In [123]:
#checking
print("Columns:\n", df.columns.tolist()) # View column names
print("\nShape (rows, columns):", df.shape) # View number of rows and columns
print("\nTotal Rows:", df.shape[0])
print("Total Columns:", df.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (45770, 13)

Total Rows: 45770
Total Columns: 13

In [124]:
print("Columns:\n", df_train_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_train_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_train_all.shape[0])
print("Total Columns:", df_train_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (46068, 13)

Total Rows: 46068
Total Columns: 13

In [125]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_train_all[['path', 'sentence']].head()))

First 5 rows:

,path,sentence
0,common_voice_ta_26650298.mp3,அவரைப் பொதுமக்கள் விடாமல் பின்னாலேயே துரத்திக்...
1,common_voice_ta_26650300.mp3,மனிதனுடைய இன்பங்கள் இரண்டு வகை.
2,common_voice_ta_26650301.mp3,ஆனால் குடியிருக்கும் போதாவது அது நமக்கு முழுச்...
3,common_voice_ta_26650302.mp3,எட்டையபுர ஜமீன்தார் அவர்கள் தன்னுடைய பெரிய வீட...
4,common_voice_ta_26650308.mp3,கல்லிலே பெரும் பகுதியைப் பெருமானுக்கும் கருடனு...

None

In [126]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_train_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
46063,common_voice_ta_34515372.mp3,"மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை..."
46064,common_voice_ta_34515408.mp3,இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...
46065,common_voice_ta_34907643.mp3,வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...
46066,common_voice_ta_34959575.mp3,அந்தக் கடைதான் என்று முடிவு செய்தான்.
46067,common_voice_ta_35021699.mp3,நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...

None

For train_path_sentence_updated csv file

In [127]:
df_train_path_sentence = df_train_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [128]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_train_path_sentence.shape)

Shape: (46068, 2)

In [129]:
df_train_path_sentence.index = range(1, len(df_train_path_sentence) + 1) # Reset the index and then set it to start from 1

In [130]:
print(df_train_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path  \
1  common_voice_ta_26650298.mp3
2  common_voice_ta_26650300.mp3
3  common_voice_ta_26650301.mp3
4  common_voice_ta_26650302.mp3
5  common_voice_ta_26650308.mp3

                                            sentence
1  அவரைப் பொதுமக்கள் விடாமல் பின்னாலேயே துரத்திக்...
2                    மனிதனுடைய இன்பங்கள் இரண்டு வகை.
3  ஆனால் குடியிருக்கும் போதாவது அது நமக்கு முழுச்...
4  எட்டையபுர ஜமீன்தார் அவர்கள் தன்னுடைய பெரிய வீட...
5  கல்லிலே பெரும் பகுதியைப் பெருமானுக்கும் கருடனு...

In [132]:
print(df_train_path_sentence.tail())

                               path  \
46064  common_voice_ta_34515372.mp3
46065  common_voice_ta_34515408.mp3
46066  common_voice_ta_34907643.mp3
46067  common_voice_ta_34959575.mp3
46068  common_voice_ta_35021699.mp3

                                                sentence
46064  மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை...
46065  இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...
46066  வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...
46067              அந்தக் கடைதான் என்று முடிவு செய்தான்.
46068  நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...

In [133]:
df_train_path_sentence.to_csv('train_path_sentence_updated.csv', index=False) # Save to CSV, keep the index in the file

**For validated.tsv file**

In [134]:
validated_tsv_file_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/validated.tsv"
df = pd.read_csv(validated_tsv_file_path, sep='\t') # Load and preview the TSV file
print(df.head(10)) # Display the first 10 rows
print("Total rows:", df.shape[0]) # Show the number of rows and columns
print("Total columns:", df.shape[1])

                                           client_id  \
0  01d7a8109646317f5c18c445cdc1455d3531ac1b63c19c...
1  031844188d789537f91c8368a4c2229289567727ff76d7...
2  049b3de3ae6801ef5033ec9f70f62ec00b5f76d907293d...
3  0d57f897226d23d7bcfd55f2322f195cfc3ccbd74b2199...
4  15eeac1471cd225a23830c8d11e23bd55972283274fca9...
5  1dd6f154f831155c19fbbc4aacf6240ecba021a4f0d4f9...
6  2812849479fbeedb77ef323bd4b2b584cf2fb2351a71cc...
7  32f319fef90857525e86d7208896001809972742bf85c2...
8  36c8e60e3f933bfd70de6359683546d72a35b337a1df1e...
9  424e6a8b49c709a75b609d505713ae1a594282a2385f6a...

                           path  \
0  common_voice_ta_28441667.mp3
1  common_voice_ta_30465365.mp3
2  common_voice_ta_26622621.mp3
3  common_voice_ta_24996970.mp3
4  common_voice_ta_27058221.mp3
5  common_voice_ta_28781016.mp3
6  common_voice_ta_37163911.mp3
7  common_voice_ta_29624933.mp3
8  common_voice_ta_34938447.mp3
9  common_voice_ta_38775030.mp3

                                         sentence_id  \
0  4ece3b00fb6122f171a053ba9b1d88dac709392f8f693b...
1  2290ed298076073a66ae3d299cd6d50cd977366f950dd6...
2  9ddf575639ea30252381fb38eb815bb0481e534a75dc65...
3  0f8d8590713f64c96711dac47a3717ae9d8d9d058a58eb...
4  177f22c6cb0eb06387af659e226b3ce32205da2fa35b5b...
5  95fb9d62d0ba605138d1032e871ed5cc662030a9280cab...
6  a36f2964c3f716e78a3c0ce5d4d8184745158a4f7ede67...
7  e7af2bfeab96bbaf48cdcdc9f97d357e8626c12059605d...
8  9da5fc3a340c276b6f67f474c9889086c345c66e868832...
9  b298beb8adf6668cc21e7aab3d725f58bc100483913fff...

                                            sentence  sentence_domain  \
0  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...              NaN
1  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...              NaN
2                              உங்கள் நோக்கு புதிது.              NaN
3                  இந்த நாளில் அது மறைந்து வருகிறது.              NaN
4  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...              NaN
5       இவர்களிடம் இன்சொல்லை எவ்வாறு எதிர்பார்ப்பது?              NaN
6                          இதைப் பிரித்தவர்கள் யார்?              NaN
7               இவர்கள் ஜரிஷ் புரட்சிக் கூட்டத்தார்.              NaN
8  நான் ஒடிப்போய் அதனிடமிருந்து தப்பிவரத் தாமதமாய...              NaN
9  மருத்துவத் துறையிலும் உணவுத் துறையிலும் பயன்பட...              NaN

   up_votes  down_votes       age           gender accents  variant locale  \
0         2           1  twenties   male_masculine     NaN      NaN     ta
1         2           0  thirties   male_masculine     NaN      NaN     ta
2         3           2       NaN              NaN     NaN      NaN     ta
3         2           0       NaN              NaN     NaN      NaN     ta
4         3           0  thirties   male_masculine     NaN      NaN     ta
5         2           0       NaN              NaN     NaN      NaN     ta
6         2           0  twenties   male_masculine     NaN      NaN     ta
7         2           0  twenties  female_feminine     NaN      NaN     ta
8         2           0  fourties   male_masculine     NaN      NaN     ta
9         2           0       NaN              NaN     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
Total rows: 117086
Total columns: 13

/tmp/ipykernel_1448709/1647130534.py:2: DtypeWarning: Columns (7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(validated_tsv_file_path, sep='\t') # Load and preview the TSV file

In [135]:
print(df.head(5))

                                           client_id  \
0  01d7a8109646317f5c18c445cdc1455d3531ac1b63c19c...
1  031844188d789537f91c8368a4c2229289567727ff76d7...
2  049b3de3ae6801ef5033ec9f70f62ec00b5f76d907293d...
3  0d57f897226d23d7bcfd55f2322f195cfc3ccbd74b2199...
4  15eeac1471cd225a23830c8d11e23bd55972283274fca9...

                           path  \
0  common_voice_ta_28441667.mp3
1  common_voice_ta_30465365.mp3
2  common_voice_ta_26622621.mp3
3  common_voice_ta_24996970.mp3
4  common_voice_ta_27058221.mp3

                                         sentence_id  \
0  4ece3b00fb6122f171a053ba9b1d88dac709392f8f693b...
1  2290ed298076073a66ae3d299cd6d50cd977366f950dd6...
2  9ddf575639ea30252381fb38eb815bb0481e534a75dc65...
3  0f8d8590713f64c96711dac47a3717ae9d8d9d058a58eb...
4  177f22c6cb0eb06387af659e226b3ce32205da2fa35b5b...

                                            sentence  sentence_domain  \
0  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...              NaN
1  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...              NaN
2                              உங்கள் நோக்கு புதிது.              NaN
3                  இந்த நாளில் அது மறைந்து வருகிறது.              NaN
4  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...              NaN

   up_votes  down_votes       age          gender accents  variant locale  \
0         2           1  twenties  male_masculine     NaN      NaN     ta
1         2           0  thirties  male_masculine     NaN      NaN     ta
2         3           2       NaN             NaN     NaN      NaN     ta
3         2           0       NaN             NaN     NaN      NaN     ta
4         3           0  thirties  male_masculine     NaN      NaN     ta

  segment
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [136]:
print(df.tail(5))

                                                client_id  \
117081  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
117082  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
117083  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
117084  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...
117085  b85e0c9ae3d43b73fa66b1bff0f042a0498a6210f9bc87...

                                path  \
117081  common_voice_ta_34515372.mp3
117082  common_voice_ta_34515408.mp3
117083  common_voice_ta_34907643.mp3
117084  common_voice_ta_34959575.mp3
117085  common_voice_ta_35021699.mp3

                                              sentence_id  \
117081  a0ba9155d340a7d025ba4260c686fa7956cb883e5b2d1e...
117082  9c9b25412462a367d43c06e954aca7c5fb8a59aadbad25...
117083  a2584461cd52fcd496d129fb508c559d0524bfc1c8e5e8...
117084  a4dd3c96bd69a2df9376e8a283b173f603f2258e82ae3f...
117085  a3f6935f6d16899c6cb87f7bb44b1e6c940fb0cba0cf53...

                                                 sentence  sentence_domain  \
117081  மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை...              NaN
117082  இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...              NaN
117083  வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...              NaN
117084              அந்தக் கடைதான் என்று முடிவு செய்தான்.              NaN
117085  நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...              NaN

        up_votes  down_votes  age gender accents  variant locale segment
117081         2           0  NaN    NaN     NaN      NaN     ta     NaN
117082         2           0  NaN    NaN     NaN      NaN     ta     NaN
117083         2           0  NaN    NaN     NaN      NaN     ta     NaN
117084         2           0  NaN    NaN     NaN      NaN     ta     NaN
117085         2           0  NaN    NaN     NaN      NaN     ta     NaN

In [137]:
print("Total rows:", len(df))

Total rows: 117086

In [138]:
with open(validated_tsv_file_path, 'r', encoding='utf-8') as file:
    total_lines = sum(1 for line in file)
print("Total lines (including header):", total_lines)
print("Total data rows:", total_lines - 1)

Total lines (including header): 136082
Total data rows: 136081

In [139]:
validated_bad_lines = []
with open(validated_tsv_file_path, 'r', encoding='utf-8') as file:
    for i, line in enumerate(file):
        if line.count('\t') != 12:  # 13 columns → 12 tabs
            validated_bad_lines.append((i, line.strip()))
print(f"Number of bad lines: {len(validated_bad_lines)}")
print("Example bad line:", validated_bad_lines[0] if validated_bad_lines else "None")

Number of bad lines: 0
Example bad line: None

In [140]:
df = pd.read_csv(validated_tsv_file_path, sep='\t', dtype=str)  # Keep all as string to avoid parsing issues
print("Rows loaded:", len(df)) # Check total number of rows loaded
empty_rows = df.isnull().all(axis=1).sum() # Check how many rows are completely empty (NaN in all columns)
print("Completely empty rows:", empty_rows)
nan_sentences = df['sentence'].isnull().sum() # Check for rows with NaN in essential columns (like 'sentence')
print("Rows with missing sentence:", nan_sentences)
with open(validated_tsv_file_path, "r", encoding="utf-8") as f:
    header_line = f.readline().strip()
    duplicate_header_count = sum(1 for line in f if line.strip() == header_line)
print("Duplicate header rows:", duplicate_header_count)

Rows loaded: 117086
Completely empty rows: 0
Rows with missing sentence: 0
Duplicate header rows: 0

In [141]:
df_validated_all = pd.read_csv(
    validated_tsv_file_path,
    sep='\t',
    quoting=3,  # Ignore quote handling
    on_bad_lines='warn',
    encoding='utf-8'
)
print("Rows loaded (with warnings):", len(df_validated_all))

Rows loaded (with warnings): 136081

/tmp/ipykernel_1448709/588369486.py:1: DtypeWarning: Columns (7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_validated_all = pd.read_csv(

In [142]:
#checking
print("Columns:\n", df.columns.tolist()) # View column names
print("\nShape (rows, columns):", df.shape) # View number of rows and columns
print("\nTotal Rows:", df.shape[0])
print("Total Columns:", df.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (117086, 13)

Total Rows: 117086
Total Columns: 13

In [143]:
print("Columns:\n", df_validated_all.columns.tolist()) # View column names
print("\nShape (rows, columns):", df_validated_all.shape) # View number of rows and columns
print("\nTotal Rows:", df_validated_all.shape[0])
print("Total Columns:", df_validated_all.shape[1])

Columns:
 ['client_id', 'path', 'sentence_id', 'sentence', 'sentence_domain', 'up_votes', 'down_votes', 'age', 'gender', 'accents', 'variant', 'locale', 'segment']

Shape (rows, columns): (136081, 13)

Total Rows: 136081
Total Columns: 13

In [144]:
print("First 5 rows:") # Display first 5 rows of 'path' and 'sentence'
print(display(df_validated_all[['path', 'sentence']].head()))

First 5 rows:

,path,sentence
0,common_voice_ta_28441667.mp3,மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...
1,common_voice_ta_30465365.mp3,கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...
2,common_voice_ta_26622621.mp3,உங்கள் நோக்கு புதிது.
3,common_voice_ta_24996970.mp3,இந்த நாளில் அது மறைந்து வருகிறது.
4,common_voice_ta_27058221.mp3,அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...

None

In [145]:
print("Last 5 rows:") # Display last 5 rows of 'path' and 'sentence'
print(display(df_validated_all[['path', 'sentence']].tail()))

Last 5 rows:

,path,sentence
136076,common_voice_ta_34515372.mp3,"மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை..."
136077,common_voice_ta_34515408.mp3,இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...
136078,common_voice_ta_34907643.mp3,வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...
136079,common_voice_ta_34959575.mp3,அந்தக் கடைதான் என்று முடிவு செய்தான்.
136080,common_voice_ta_35021699.mp3,நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...

None

For validated_path_sentence_updated csv file

In [146]:
df_validated_path_sentence = df_validated_all[['path', 'sentence']].copy() # Select only the 'path' and 'sentence' columns

In [147]:
# Optional: Check the shape and preview to ensure data integrity
print("Shape:", df_validated_path_sentence.shape)

Shape: (136081, 2)

In [148]:
df_validated_path_sentence.index = range(1, len(df_validated_path_sentence) + 1) # Reset the index and then set it to start from 1

In [149]:
print(df_validated_path_sentence.head()) # Now if you print head or tail, index starts from 1

                           path  \
1  common_voice_ta_28441667.mp3
2  common_voice_ta_30465365.mp3
3  common_voice_ta_26622621.mp3
4  common_voice_ta_24996970.mp3
5  common_voice_ta_27058221.mp3

                                            sentence
1  மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவ...
2  கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில...
3                              உங்கள் நோக்கு புதிது.
4                  இந்த நாளில் அது மறைந்து வருகிறது.
5  அந்தப் பாட்டின் இரண்டாவது பகுதியில் இறைவனது தி...

In [150]:
print(df_validated_path_sentence.tail())

                                path  \
136077  common_voice_ta_34515372.mp3
136078  common_voice_ta_34515408.mp3
136079  common_voice_ta_34907643.mp3
136080  common_voice_ta_34959575.mp3
136081  common_voice_ta_35021699.mp3

                                                 sentence
136077  மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை...
136078  இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...
136079  வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...
136080              அந்தக் கடைதான் என்று முடிவு செய்தான்.
136081  நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...

In [151]:
df_validated_path_sentence.to_csv('validated_path_sentence_updated.csv', index=False) # Save to CSV, keep the index in the file

**Verifying CSV files**

In [154]:
# List of CSV file paths
csv_paths = [
    "dev_path_sentence_updated.csv",
    "invalidated_path_sentence_updated.csv",
    "other_path_sentence_updated.csv",
    "test_path_sentence_updated.csv",
    "train_path_sentence_updated.csv",
    "validated_path_sentence_updated.csv"
]
def inspect_csv_files(paths): # Function to analyze each file
    for path in paths:
        print(f"\n--- Inspecting: {path} ---")
        if os.path.exists(path):
            try:
                df = pd.read_csv(path)
                print(f"Shape: {df.shape}")
                print(f"Columns: {list(df.columns)}")
                print("\nFirst 3 rows:")
                print(df.head(3).to_string(index=False))
                print("\nLast 3 rows:")
                print(df.tail(3).to_string(index=False))
            except Exception as e:
                print(f"Error reading {path}: {e}")
        else:
            print("File not found.")
inspect_csv_files(csv_paths)

--- Inspecting: dev_path_sentence_updated.csv ---
Shape: (12111, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                                                                          sentence
common_voice_ta_24959711.mp3                                             பாலாஜி என்பது பாலன் என்ற பொருளுடையது.
common_voice_ta_24959713.mp3 சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது முழு உருவப்படமொன்று சபையில் வைத்தோம்.
common_voice_ta_24959750.mp3                                                  பகலில் இயங்கிக் கொண்டே இருப்பர்.

Last 3 rows:
                        path                                                                                                       sentence
common_voice_ta_26920966.mp3                எட்டுக் கரங்கள், சூலம், தனு, கசம், அங்குசம், சங்கு ஏந்திய கோலம், மகிஷன் தலைமேல் ஏறி நிற்கிறாள்.
common_voice_ta_26921021.mp3 குமரன் அவ்வாறு வெளிப்படையாகத் தன்னுடைய மனத்திலிருந்ததைக் கேட்டதே அவர்களுடைய சந்தேகத்தைத் தணித்துவிட்டிருந்தது.
common_voice_ta_26921028.mp3                                                            போதாக்குறைக்கு மதுபானக்கடையும் ஸ்தாபிக்கப் பெற்றது.

--- Inspecting: invalidated_path_sentence_updated.csv ---
Shape: (5705, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                         sentence
common_voice_ta_19071681.mp3 துணைவன் இறந்தபின் வேறு துணைதேடச்
common_voice_ta_19083966.mp3  சூரியன் ஒரு நடுவயது நட்சத்திரம்
common_voice_ta_19083970.mp3                 நாங்கள், ஆண்மைச்

Last 3 rows:
                        path                                                                                      sentence
common_voice_ta_37382533.mp3                               இதைத்தான் திருவள்ளுவர் உலகந் தழீஇயது ஒட்பம் என்று கூறுகின்றார்.
common_voice_ta_38522355.mp3 அவளைப் பற்றிய விவரங்கள் யாவும் அடங்கிய ஓலை யொன்றையும் உதயணனிடமிருந்து யூகி பெற்றுக் கொண்டான்.
common_voice_ta_38671127.mp3                                  அகத்தியனை முத்தமிழ் முனிவன் எனக் காஞ்சிப் புராணம் கூறுகிறது.

--- Inspecting: other_path_sentence_updated.csv ---
Shape: (105054, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                               sentence
common_voice_ta_19924583.mp3                 குட்டை மனத்தாலே - அவர்
common_voice_ta_19924634.mp3 என்றாள். "வெந்நீர் இருக்குமா" என்றான்.
common_voice_ta_19924723.mp3    இதுஅதுவாய் மாறிவிடும் மறுக ணத்தில்.

Last 3 rows:
                        path                                                                              sentence
common_voice_ta_41104915.mp3    அந்தத் துன்பத்தையும் மறக்க அவன் அவ்வப்போது வெளி ஊர்கள் செல்வதில் மனநிறைவு கண்டான்.
common_voice_ta_41206047.mp3              பாட்னா நகர் சென்ற காந்தியார், ராஜன் பாபு வீட்டில் தங்குவதற்காக சென்றார்.
common_voice_ta_41206048.mp3 கலை என்பது அழகு ணர்ச்சியிலே பிறந்து அவனுக்கு ஆனந்தம் அளிப்பது என்பார் மூன்றாவது நபர்.

--- Inspecting: test_path_sentence_updated.csv ---
Shape: (12189, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                                                                                       sentence
common_voice_ta_28441667.mp3 மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவித்து அவர்களை மோதவிட்டு வேடிக்கை பார்க்கின்றனர்.
common_voice_ta_30465365.mp3                              கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில் பெரிய ஆட்கள்தான்.
common_voice_ta_26622621.mp3                                                                          உங்கள் நோக்கு புதிது.

Last 3 rows:
                        path                                                                                          sentence
common_voice_ta_27638647.mp3                                  மரங்கள் மண்ணிலிருந்து தண்ணிர், உரம் எடுத்துக் கொண்டு வளர்கின்றன.
common_voice_ta_27638648.mp3 நாங்கள் சைதாப் பேட்டைக்கு வந்த நாளிலிருந்தே பாவலரின் தரகர்கள் எங்களுக்கு வலைவீசத் தொடங்கினார்கள்.
common_voice_ta_27638650.mp3                               அவருக்கு மட்டுமன்று பெருநோய் அவருடைய அன்பு மகளுக்கு வந்தது பசிநோய்!

--- Inspecting: train_path_sentence_updated.csv ---
Shape: (46068, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                                                            sentence
common_voice_ta_26650298.mp3   அவரைப் பொதுமக்கள் விடாமல் பின்னாலேயே துரத்திக் கொண்டே ஓடினார்கள்.
common_voice_ta_26650300.mp3                                     மனிதனுடைய இன்பங்கள் இரண்டு வகை.
common_voice_ta_26650301.mp3 ஆனால் குடியிருக்கும் போதாவது அது நமக்கு முழுச் சொந்தமாக இருக்கிறதா?

Last 3 rows:
                        path                                                           sentence
common_voice_ta_34907643.mp3 வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்ந்து கேட்க வேண்டாம்!
common_voice_ta_34959575.mp3                              அந்தக் கடைதான் என்று முடிவு செய்தான்.
common_voice_ta_35021699.mp3                நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந்தது.

--- Inspecting: validated_path_sentence_updated.csv ---
Shape: (136081, 2)
Columns: ['path', 'sentence']

First 3 rows:
                        path                                                                                       sentence
common_voice_ta_28441667.mp3 மக்களிடையே மீண்டும் சாதீய மனோநிலைகளைத் தோற்றுவித்து அவர்களை மோதவிட்டு வேடிக்கை பார்க்கின்றனர்.
common_voice_ta_30465365.mp3                              கிரேக்கர்கள் இந்த மாதிரியான வீண் கனவு காண்பதில் பெரிய ஆட்கள்தான்.
common_voice_ta_26622621.mp3                                                                          உங்கள் நோக்கு புதிது.

Last 3 rows:
                        path                                                           sentence
common_voice_ta_34907643.mp3 வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்ந்து கேட்க வேண்டாம்!
common_voice_ta_34959575.mp3                              அந்தக் கடைதான் என்று முடிவு செய்தான்.
common_voice_ta_35021699.mp3                நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந்தது.

In [155]:
# Read all into a list of DataFrames
dfs = [pd.read_csv(path) for path in csv_paths]
merged_df = pd.concat(dfs, ignore_index=True) # Concatenate them into a single DataFrame
# Optionally drop duplicates
#merged_df.drop_duplicates(subset=['path', 'sentence'], inplace=True)
merged_df.to_csv("merged_path_sentence.csv", index=False) # Save to a new CSV
print("Merged successfully. Final shape:", merged_df.shape)

Merged successfully. Final shape: (317208, 2)

**Merged file**

In [198]:
merged_file = "merged_path_sentence.csv" # Load merged file
m_df = pd.read_csv(merged_file)

In [157]:
print("File Info:") # Basic info
print(m_df.info(), end="\n\n")

File Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317208 entries, 0 to 317207
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   path      317208 non-null  object
 1   sentence  317208 non-null  object
dtypes: object(2)
memory usage: 4.8+ MB
None

In [158]:
print(f"Total Rows: {m_df.shape[0]}") # Shape
print(f"Total Columns: {m_df.shape[1]}\n")

Total Rows: 317208
Total Columns: 2

In [159]:
print("Column Names:", m_df.columns.tolist(), "\n") # Column names

Column Names: ['path', 'sentence']

In [160]:
print("Sample Data:") # Sample rows
print(m_df.head(5), "\n")

Sample Data:
                           path  \
0  common_voice_ta_24959711.mp3
1  common_voice_ta_24959713.mp3
2  common_voice_ta_24959750.mp3
3  common_voice_ta_24959754.mp3
4  common_voice_ta_24959762.mp3

                                            sentence
0              பாலாஜி என்பது பாலன் என்ற பொருளுடையது.
1  சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...
2                   பகலில் இயங்கிக் கொண்டே இருப்பர்.
3                          மிகுதியும் பயன் விளையும்.
4      புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.

In [161]:
print(m_df.tail())

                                path  \
317203  common_voice_ta_34515372.mp3
317204  common_voice_ta_34515408.mp3
317205  common_voice_ta_34907643.mp3
317206  common_voice_ta_34959575.mp3
317207  common_voice_ta_35021699.mp3

                                                 sentence
317203  மின்னோட்டம், மின்தடை, மின்னழுத்தம் முதலியவற்றை...
317204  இந்திரனைச் சந்திரனை இலையாலே மறைப்பாள் எமதர்ம ர...
317205  வாழ்க்கையை மறுக்கும் அணியினர் பேச்சை அன்புகூர்...
317206              அந்தக் கடைதான் என்று முடிவு செய்தான்.
317207  நரகத்திற்குக் காவலாக ஒரு பெரிய நாய் இருந்து வந...

In [162]:
print("Missing Values:") # Missing values
print(m_df.isnull().sum(), "\n")

Missing Values:
path        0
sentence    0
dtype: int64

In [163]:
m_df['sentence_length'] = m_df['sentence'].astype(str).apply(len) # Sentence length stats
print("Sentence Length Stats:")
print(m_df['sentence_length'].describe())

Sentence Length Stats:
count    317208.000000
mean         63.955048
std          29.011705
min           2.000000
25%          40.000000
50%          60.000000
75%          84.000000
max         227.000000
Name: sentence_length, dtype: float64

In [164]:
m_df.describe()

       sentence_length
count    317208.000000
mean         63.955048
std          29.011705
min           2.000000
25%          40.000000
50%          60.000000
75%          84.000000
max         227.000000

**Filtering the merged file**

In [167]:
clips_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips"
all_files = os.listdir(clips_path) # List all files in the directory
total_files = len(all_files) # Total number of files
from collections import Counter # Group by file extensions
file_types = Counter([os.path.splitext(f)[1] for f in all_files])
print(f"Total files in 'clips': {total_files}") # Display
print("\nFile types and counts:")
for ext, count in file_types.items():
    print(f"{ext or 'No Extension'}: {count}")
print("\nSample files:") #preview first 5 file names
print(all_files[:5])

Total files in 'clips': 246840

File types and counts:
.mp3: 246840

Sample files:
['common_voice_ta_19071679.mp3', 'common_voice_ta_19071680.mp3', 'common_voice_ta_19071681.mp3', 'common_voice_ta_19071682.mp3', 'common_voice_ta_19071683.mp3']

In [170]:
mp3_files = []
for root, dirs, files in os.walk(clips_path):
    for file in files:
        if file.endswith(".mp3"):
            mp3_files.append(file)

print(f"Total .mp3 files (including subfolders): {len(mp3_files)}")

Total .mp3 files (including subfolders): 246840

In [171]:
m_df['path'].head()

0    common_voice_ta_24959711.mp3
1    common_voice_ta_24959713.mp3
2    common_voice_ta_24959750.mp3
3    common_voice_ta_24959754.mp3
4    common_voice_ta_24959762.mp3
Name: path, dtype: object

In [179]:
clips_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips"
available_files = set()
for root, dirs, files in os.walk(clips_path):
    for file in files:
        if file.endswith(".mp3"):
            available_files.add(file)

In [180]:
print(f"Number of files in available_files: {len(available_files)}")  # Should be 246840

Number of files in available_files: 246840

In [190]:
print("Examples of available_files:")
print(list(available_files)[:5])  # show what's actually in the set
print("\nExamples from m_df['path']:")
print(m_df['path'].head(5).tolist())
sample_file = m_df['path'].iloc[0] # Compare one explicitly
print(f"\nIs '{sample_file}' in available_files? => {sample_file in available_files}")

Examples of available_files:
['common_voice_ta_29810789.mp3', 'common_voice_ta_25453180.mp3', 'common_voice_ta_25470576.mp3', 'common_voice_ta_28754888.mp3', 'common_voice_ta_28960797.mp3']

Examples from m_df['path']:
['common_voice_ta_24959711.mp3', 'common_voice_ta_24959713.mp3', 'common_voice_ta_24959750.mp3', 'common_voice_ta_24959754.mp3', 'common_voice_ta_24959762.mp3']

Is 'common_voice_ta_26717326.mp3' in available_files? => True

In [192]:
print(type(available_files))

<class 'set'>

Finding unique files

In [210]:
unique_paths = m_df["path"].nunique()
print(f"Unique paths in merged dataset: {unique_paths}")

Unique paths in merged dataset: 246840

In [211]:
total_rows = len(m_df)
unique_paths = m_df["path"].nunique()
duplicate_paths = total_rows - unique_paths
print(f"Total rows in CSV: {total_rows}")
print(f"Unique audio paths: {unique_paths}")
print(f"Duplicate rows (same audio used multiple times): {duplicate_paths}")

Total rows in CSV: 317208
Unique audio paths: 246840
Duplicate rows (same audio used multiple times): 70368

In [217]:
original_df = m_df.copy() # Don't modify original m_df

Remove Duplicate path Entries , keeping first only

In [218]:
dedup_df = original_df.drop_duplicates(subset='path', keep='first') # One row per unique audio file (first occurrence)
print(f"Deduplicated DataFrame rows: {len(dedup_df)}")

Deduplicated DataFrame rows: 246840

In [219]:
dedup_df.to_csv("unique_audio_first_occurrence.csv", index=False)

Group All Sentences for Same Audio Path

In [220]:
grouped_df = original_df.groupby('path')['sentence'].apply(list).reset_index() # Aggregate all sentences for each .mp3
print(f"Grouped by path (with sentence list): {len(grouped_df)} rows")

Grouped by path (with sentence list): 246840 rows

In [221]:
grouped_df.to_csv("grouped_sentences_by_path.csv", index=False)

Filter Entries That Exist in clips Folder

In [216]:
# Path to clips folder
clips_path = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips"
available_files = set(os.listdir(clips_path)) # Get set of files actually present in folder
#filtered_df = original_df[original_df['path'].isin(available_files)].copy() # Filter original DataFrame to only include existing files
filtered_df = dedup_df[dedup_df['path'].isin(available_files)].copy()
print(f"Filtered rows with matching files: {len(filtered_df)}")

Filtered rows with matching files: 246840

In [222]:
filtered_df.to_csv("filtered_existing_audio_files.csv", index=False)

In [224]:
duplicates_df = original_df[original_df.duplicated(subset='path', keep=False)] # Get duplicates based on 'path' column
print(f"Total duplicate rows saved: {len(duplicates_df)}")

Total duplicate rows saved: 140736

Finding duplicates

In [226]:
duplicate_paths = m_df[m_df.duplicated(subset=["path"], keep=False)] # Identify duplicate paths
print(f"Total duplicate entries found: {duplicate_paths.shape[0]}") # Display summary
print(f"Unique files with duplicates: {duplicate_paths['path'].nunique()}")

Total duplicate entries found: 140736
Unique files with duplicates: 70368

In [ ]:
duplicate_paths.to_csv("duplicate_audio_entries.csv", index=False)

**For Filtered data**

In [237]:
filtered_file = "filtered_existing_audio_files.csv"

In [238]:
filtered_data_df= pd.read_csv(filtered_file)

In [239]:
print(f"Total Rows: {filtered_data_df.shape[0]}") # Shape
print(f"Total Columns: {filtered_data_df.shape[1]}\n")

Total Rows: 246840
Total Columns: 3

In [241]:
filter_duplicate_paths = filtered_data_df[filtered_data_df.duplicated(subset=["path"], keep=False)] # Identify duplicate paths
print(f"Total duplicate entries found: {filter_duplicate_paths.shape[0]}") # Display summary
print(f"Unique files with duplicates: {filter_duplicate_paths['path'].nunique()}")

Total duplicate entries found: 0
Unique files with duplicates: 0

In [242]:
print(filtered_data_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246840 entries, 0 to 246839
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   path      246840 non-null  object
 1   sentence  246840 non-null  object
 2   Found     246840 non-null  object
dtypes: object(3)
memory usage: 5.6+ MB
None

In [245]:
print("columns:", filtered_data_df.columns.tolist())

columns: ['path', 'sentence', 'Found']

In [246]:
filtered_data_df.head()

,path,sentence,Found
0,common_voice_ta_24959711.mp3,பாலாஜி என்பது பாலன் என்ற பொருளுடையது.,Yes
1,common_voice_ta_24959713.mp3,சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...,Yes
2,common_voice_ta_24959750.mp3,பகலில் இயங்கிக் கொண்டே இருப்பர்.,Yes
3,common_voice_ta_24959754.mp3,மிகுதியும் பயன் விளையும்.,Yes
4,common_voice_ta_24959762.mp3,புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.,Yes

In [247]:
filtered_data_df.tail()

,path,sentence,Found
246835,common_voice_ta_32120972.mp3,அவற்றை நம்மால் மறக்க முடியவில்லை.,Yes
246836,common_voice_ta_32194272.mp3,அதே பழைய மணவறை மாடத்தில் பதுமையும் அவனும் தொடர...,Yes
246837,common_voice_ta_32194389.mp3,எடுத்துக் கூறும் உறுதி மொழிகள் சாத்தியமானவையா?,Yes
246838,common_voice_ta_32350384.mp3,வெளிச்சம் இருந்தால் இருட்டும் இருக்கும்.,Yes
246839,common_voice_ta_34439322.mp3,யாரும் மனம் நோகாதபடி பார்த்துக் கொள்ளவேண்டும்.,Yes

In [248]:
filtered_data_df.isnull().sum()

path        0
sentence    0
Found       0
dtype: int64

In [249]:
filtered_data_df.describe()

,path,sentence,Found
count,246840,246840,246840
unique,246840,118041,1
top,common_voice_ta_34439322.mp3,"கம்மது, கிறிஸ்து-எனும் பலபேர் சொல்லிச்",Yes
freq,1,32,246840

In [250]:
filtered_data_df['sentence_length'] = filtered_data_df['sentence'].astype(str).apply(len) # Sentence length stats
print("Sentence Length Stats:")
print(filtered_data_df['sentence_length'].describe())

Sentence Length Stats:
count    246840.000000
mean         63.687883
std          29.131591
min           2.000000
25%          40.000000
50%          59.000000
75%          84.000000
max         227.000000
Name: sentence_length, dtype: float64

In [251]:
filtered_data_df['paths'] = filtered_data_df['path'].astype(str).apply(len) # Sentence length stats
print("paths Stats:")
print(filtered_data_df['paths'].describe())

paths Stats:
count    246840.0
mean         28.0
std           0.0
min          28.0
25%          28.0
50%          28.0
75%          28.0
max          28.0
Name: paths, dtype: float64

In [254]:
filtered_data_df['founds column'] = filtered_data_df['Found'].astype(str).apply(len) # Sentence length stats
print("Found Stats:")
print(filtered_data_df['founds column'].describe())

Found Stats:
count    246840.0
mean          3.0
std           0.0
min           3.0
25%           3.0
50%           3.0
75%           3.0
max           3.0
Name: founds column, dtype: float64

**Adding durations to the filtered data**

In [274]:
import pandas as pd
import librosa
import os

# Load the original CSV
original_file = "/home/jovyan/work/Datasets/filtered_existing_audio_files.csv"
filtered_df = pd.read_csv(original_file)

# Make a copy so original is untouched
filtered_copy = filtered_df.copy()

# Define audio directory where the mp3 files are actually stored
audio_dir = "/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips/"

# Function to get duration
def get_duration_librosa(audio_filename):
    full_path = os.path.join(audio_dir, audio_filename)
    try:
        duration = librosa.get_duration(path=full_path)
        return round(duration, 2)
    except Exception as e:
        print(f"Error loading {audio_filename}: {e}")
        return None

# Apply the function to create a new column with durations
filtered_copy['duration'] = filtered_copy['path'].apply(get_duration_librosa)

In [275]:
filtered_copy.to_csv("/home/jovyan/work/Datasets/filtered_with_duration.csv", index=False)

In [276]:
# Load the original CSV
filtered_file_path = '/home/jovyan/work/Datasets/filtered_existing_audio_files.csv'
filtered_df = pd.read_csv(filtered_file_path)
filtered_df_copy = filtered_df.copy() # Make a copy to preserve the original
audio_dir = '/home/jovyan/work/Datasets/cv-corpus/cv-corpus-19.0-2024-09-13/ta/clips' # Base directory where audio files are located
durations_full = [] # List to store durations
durations_rounded = []
for idx, filename in enumerate(filtered_df_copy['path']): # Loop through each file path in the 'path' column
    file_path = os.path.join(audio_dir, filename)
    try:
        y, sr = librosa.load(file_path, sr=None) # Load the file and get duration (full float)
        duration = librosa.get_duration(y=y, sr=sr)
        durations_full.append(duration)  # full float
        durations_rounded.append(round(duration, 2))  # optional rounded value
    except Exception as e:
        print(f"Error loading {filename}: {e}")
        durations_full.append(None)
        durations_rounded.append(None)

# Add columns to the copied dataframe
filtered_df_copy['duration'] = durations_full
filtered_df_copy['duration_rounded'] = durations_rounded

In [277]:
# (Optional) Save to a new CSV for later reference
filtered_df_copy.to_csv('/home/jovyan/work/Datasets/filtered_with_durations.csv', index=False)
print("Duration columns added successfully.")

Duration columns added successfully.

In [279]:
if 'duration' in filtered_df_copy.columns: # Make sure 'duration' column exists
    filtered_df_copy['duration_milliseconds'] = filtered_df_copy['duration'].apply( 
        lambda x: x * 1000 if pd.notnull(x) else None # Add duration in milliseconds (without rounding)
    )
    filtered_df_copy.to_csv('/home/jovyan/work/Datasets/filtered_with_durations.csv', index=False) #Save updated DataFrame

    print("Duration in milliseconds added successfully (no rounding).")
else:
    print(" 'duration' column not found. Please calculate it first.")

Duration in milliseconds added successfully (no rounding).

In [280]:
columns_to_check = ['duration', 'duration_rounded', 'duration_milliseconds'] # Ensure the columns exist

for col in columns_to_check:
    if col in filtered_df_copy.columns:
        total = filtered_df_copy[col].sum()
        print(f"Total {col}: {total}")
    else:
        print(f" Column '{col}' not found in the DataFrame.")

Total duration: 1530036.1199999996
Total duration_rounded: 1530384.6299999994
Total duration_milliseconds: 1530036120.0

**Consider filtered_with_durations.csv file as final updated file**

**Final Dataset analysis**

In [281]:
final_dataset_path = "/home/jovyan/work/Datasets/filtered_with_durations.csv" # Load the final dataset
final_df = pd.read_csv(final_dataset_path)

In [282]:
print("Head of the DataFrame:") # Preview the first few rows
print(final_df.head())

Head of the DataFrame:
                           path  \
0  common_voice_ta_24959711.mp3
1  common_voice_ta_24959713.mp3
2  common_voice_ta_24959750.mp3
3  common_voice_ta_24959754.mp3
4  common_voice_ta_24959762.mp3

                                            sentence Found  duration  \
0              பாலாஜி என்பது பாலன் என்ற பொருளுடையது.   Yes     6.696
1  சீக்கிரத்தில் ஐநூறு ரூபாய் செலவழித்து அவரது மு...   Yes     7.380
2                   பகலில் இயங்கிக் கொண்டே இருப்பர்.   Yes     3.960
3                          மிகுதியும் பயன் விளையும்.   Yes     3.456
4      புதுப்புனலில் பாய்ந்து நீந்தி விளையாடுகிறாள்.   Yes     4.428

   duration_rounded  duration_milliseconds
0              6.70                 6696.0
1              7.38                 7380.0
2              3.96                 3960.0
3              3.46                 3456.0
4              4.43                 4428.0

In [283]:
print("Tail of the DataFrame:") # Preview the last few rows
print(final_df.tail())

Tail of the DataFrame:
                                path  \
246835  common_voice_ta_32120972.mp3
246836  common_voice_ta_32194272.mp3
246837  common_voice_ta_32194389.mp3
246838  common_voice_ta_32350384.mp3
246839  common_voice_ta_34439322.mp3

                                                 sentence Found  duration  \
246835                  அவற்றை நம்மால் மறக்க முடியவில்லை.   Yes     4.068
246836  அதே பழைய மணவறை மாடத்தில் பதுமையும் அவனும் தொடர...   Yes     8.388
246837     எடுத்துக் கூறும் உறுதி மொழிகள் சாத்தியமானவையா?   Yes     5.400
246838           வெளிச்சம் இருந்தால் இருட்டும் இருக்கும்.   Yes     4.068
246839     யாரும் மனம் நோகாதபடி பார்த்துக் கொள்ளவேண்டும்.   Yes     5.040

        duration_rounded  duration_milliseconds
246835              4.07                 4068.0
246836              8.39                 8388.0
246837              5.40                 5400.0
246838              4.07                 4068.0
246839              5.04                 5040.0

In [285]:
print("DataFrame Info:") # Info about the DataFrame
print(final_df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246840 entries, 0 to 246839
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   path                   246840 non-null  object
 1   sentence               246840 non-null  object
 2   Found                  246840 non-null  object
 3   duration               246840 non-null  float64
 4   duration_rounded       246840 non-null  float64
 5   duration_milliseconds  246840 non-null  float64
dtypes: float64(3), object(3)
memory usage: 11.3+ MB
None

In [287]:
print("Descriptive Statistics (Numerical Columns):") # Describe numerical columns
print(final_df.describe())

Descriptive Statistics (Numerical Columns):
            duration  duration_rounded  duration_milliseconds
count  246840.000000     246840.000000          246840.000000
mean        6.198493          6.199905            6198.493437
std         2.495943          2.496045            2495.942646
min         0.072000          0.070000              72.000000
25%         4.464000          4.460000            4464.000000
50%         5.940000          5.940000            5940.000000
75%         7.848000          7.850000            7848.000000
max       203.004000        203.000000          203004.000000

In [289]:
print("Descriptive Statistics (Categorical Columns):") #Describe categorical columns (object types)
print(final_df.describe(include=['object']))

Descriptive Statistics (Categorical Columns):
                                path                                sentence  \
count                         246840                                  246840
unique                        246840                                  118041
top     common_voice_ta_34439322.mp3  கம்மது, கிறிஸ்து-எனும் பலபேர் சொல்லிச்
freq                               1                                      32

         Found
count   246840
unique       1
top        Yes
freq    246840

In [290]:
print("Null Values Count:")
print(final_df.isnull().sum())

Null Values Count:
path                     0
sentence                 0
Found                    0
duration                 0
duration_rounded         0
duration_milliseconds    0
dtype: int64

In [292]:
print("Unique Values per Column:") # Unique values in each column
for col in final_df.columns:
    print(f"{col}: {final_df[col].nunique()}")

Unique Values per Column:
path: 246840
sentence: 118041
Found: 1
duration: 763
duration_rounded: 703
duration_milliseconds: 763

In [293]:
print("Most Frequent Values (Mode):") # Most frequent values (mode) in each column
for col in final_df.columns:
    print(f"{col}: {final_df[col].mode().values[0]}")

Most Frequent Values (Mode):
path: common_voice_ta_19071679.mp3
sentence: கம்மது, கிறிஸ்து-எனும் பலபேர் சொல்லிச்
Found: Yes
duration: 4.896
duration_rounded: 4.9
duration_milliseconds: 4896.0

In [295]:
print(" Total Durations Summary:") # Summary of 'duration', 'duration_rounded', 'duration_milliseconds'
if 'duration' in final_df.columns:
    print(f"Total duration (seconds): {final_df['duration'].sum()}")
if 'duration_rounded' in final_df.columns:
    print(f"Total rounded duration (seconds): {final_df['duration_rounded'].sum()}")
if 'duration_milliseconds' in final_df.columns:
    print(f"Total duration (milliseconds): {final_df['duration_milliseconds'].sum()}")

 Total Durations Summary:
Total duration (seconds): 1530036.1199999996
Total rounded duration (seconds): 1530384.6299999994
Total duration (milliseconds): 1530036120.0